.btn{
	display: inline-block;
	padding: 0 40px;
	height: 50px;
	line-height: 50px;
	border: 0;
	background-color: #4272d7;
	color: #ffffff;
	margin: 0;
	border-radius: 0;
	transition: all 0.3s linear;
	font-size: 15px;
	outline: 0;
	vertical-align: baseline;
	cursor: pointer;
	position: relative;
}
.round{
	border-radius: 3px;
}
.form-input{
	display: inline-block;
	line-height: 50px;
	height: 50px;
	padding: 0 20px;
	border: none;
	background-color: #f0f0f0;
	border-radius: 3px;
	color: #666666;
}
.form-input::-webkit-input-placeholder{
	color: #999999;
}
.form-input:focus{
	outline: 1px solid #4272d7;
}

.hvr-underline-left:before{
	content: "";
	position: absolute;
	left: 0;
	right: 100%;
	height: 3px;
	bottom: 0;
	background-color: #2098D1;
	transition-duration: 0.3s;
}
.hvr-underline-left:hover:before{
	right: 0;
}
.hvr-underline-right:before{
	content: "";
	position: absolute;
	right: 0;
	left: 100%;
	height: 3px;
	bottom: 0;
	background-color: #2098D1;
	transition-duration: 0.3s;
}
.hvr-underline-right:hover:before{
	left: 0;
}
.hvr-underline-center:before{
	content: "";
	position: absolute;
	right: 50%;
	left: 50%;
	height: 3px;
	bottom: 0;
	background-color: #2098D1;
	transition-duration: 0.3s;
}
.hvr-underline-center:hover:before{
	right: 0;
	left: 0;
}
