.btn{
	display: inline-block;
	outline: none;
	text-align: center;
	color: #ffffff;
	border-radius: 0;
	padding: 0;
	font-size: 15px;
	width: 170px;
	height: 50px;
	line-height: 50px;
	background-color: #ffffff;
	border-color: #cccccc;
	border-style: solid;
	border-width: 0;
	font-weight: bold;
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.btn.btn-sm{
	height: 40px;
	line-height: 40px;
}
.btn-big{
	width:  165px;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
}
.btn-404{
	padding: 0 40px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	color: #ffffff;
	font-size: 15px;
	background-color: #4272d7;
}
.btn:hover{
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.btn.blue{
	background-color: #4272d7;
	color: #ffffff;
}
.btn.blue:hover{
	color: #ffffff;
	opacity: 0.9;
	-webkit-transition:  all 0.3s linear;
	-o-transition:  all 0.3s linear;
	transition:  all 0.3s linear;
}
.btn.orange{
	background-color: #ff9800;
	color: #ffffff;
}
.btn.yellow{
	background-color: #ffeb3b;
	color: #333333;
}
.btn.green{
	background-color: #4caf50;
	color: #ffffff;
}
.btn.red{
	background-color: #f44336;
	color: #ffffff;
}
.btn.black{
	background-color: #555555;
}
.btn.black-1{
	background-color: #171a21;
}
.btn.gray{
	background-color: #e5e5e5;
	color: #555555;
}
.btn.white{
	background-color: #ffffff;
	color: #999999;
}
.btn.rounded{
	border-radius: 3px;
}
.btn.circle{
	border-radius: 30px;
}
.btn.medium{
	width: 160px;
}
.btn.small{
	width: 150px;
}
.btn.tiny{
	width: 140px;
}
.btn.tiny-1{
	width: 120px;
}
.btn.border-1{
	line-height: 46px;
}
.btn.border-2{
	line-height: 42px;
}
.btn.border-3{
	line-height: 42px;
}
.border-1{
	border-width: 1px;
}
.border-2{
	border-width: 2px;
}
.border-3{
	border-width: 3px;
}
.border-white{
	border-color: #ffffff !important;
}
.border-blue{
	border-color: #4272d7 !important;
}
.text-white{
	color: #ffffff !important;
}
.text-white-1{
	color: #f2f2f2 !important;
}
.text-gray{
	color: #888888 !important;
}
.text-gray-1{
	color: #999999 !important;
}
.text-gray-2{
	color: #e5e5e5 !important;
}
.text-gray-3{
	color: #cccccc !important;
}
.text-blue{
	color: #4272d7 !important;
}
.text-black{
	color: #333333;
}
.text-black-1{
	color: #555555;
}
.no-rounded{
	border-radius: 0 !important;
}
.hover-1{
	position: relative;
    vertical-align: middle;
    -webkit-transform : translateZ(0);
            transform : translateZ(0);
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
       transition-duration: 0.25s;
}
.hover-1:before{
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #555555;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
        transform: scale(0);
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
       transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
       transition-timing-function: ease-out;
}
.hover-1.circle:before{
	border-radius: 30px;
}
.hover-1:hover{
	color: #ffffff;
}
.hover-1.bg-black{
	color: #ffffff;
}
.hover-1.bg-black:before{
	background-color: #4272d7;
}
.hover-1:hover:before{
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	-webkit-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
.hover-2.bg-black{
	color: #4272d7!important;
}
.hover-2{
	position: relative;
    vertical-align: middle;
    -webkit-transform : perspective(1px) translateZ(0);
            transform : perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
       transition-duration: 0.3s;
}
.hover-2:before{
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
       transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
       transition-timing-function: ease-out;
}
.hover-2:hover:before{
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}
.hover-2:hover{
	color: #ffffff !important;
}
.hover-3{
	display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) trasnslateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px transparent;
            box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
       transition-duration: 0.3s;
    -webkit-transition-property: border-radius;
    -o-transition-property: border-radius;
    transition-property: border-radius;
}
.hover-3:hover{
	border-radius: 2rem;
}
.text-tranform-none{
	text-transform: none;
}