/* All of pages */

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
body{
	font-family: 'Lato', sans-serif;
	line-height: 24px;
	color: #666666;
	background-color: #000000;
}
a:hover{
	text-decoration: none;
}
input:hover,input:focus{
	outline: none;
}

/* --------------- */
footer ul{
	list-style: none;
	padding : 0;
	margin: 0;
}
footer.footer1{
	background-color: #171a21;
	font-size: 13px;
	color: #999999;
	line-height: 22px;
}
.footer-title{
	text-transform: uppercase;
	font-size: 15px;
	line-height: 20px;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 30px;
}
footer.footer1 .main-footer{
	padding-bottom: 60px;
	padding-top: 75px;
}
footer.footer1 .sub-footer{
	text-align: center;
	line-height: 78px;
	border-top: 1px solid rgba(255,255,255,0.05);
	font-weight: bold;
}
footer.footer1 ul.feature{
	padding-right: 15px;
}
footer.footer1 ul.feature > li > a{
	color: #cccccc;
	text-transform: capitalize;
}
footer.footer1 ul.feature > li{
	padding-left: 15px;
	position: relative;
	line-height: 2rem;
}
footer.footer1 ul.feature > li:before{
	content: "";
	width: 5px;
	height: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	position: absolute;
	top: 40%;
	left: 0;
}
footer.footer1 ul.contact p{
	margin-bottom: 0.5rem;
}
form.newsletter-form > input[type = "email"] {
	width: 66.6666667%;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 15px;
	padding : 0 15px;
	line-height: 40px;
	color: #ffffff;
	float: left;
}
form.newsletter-form > input[type = "email"]::-webkit-input-placeholder{
	color: #cccccc;
}
form.newsletter-form > input[type = "submit"]{
	width: 33.3333333%;
	line-height: 40px;
	border: none;
	padding: 0;
	text-align: center;
	color: #ffffff;
	background-color: #4272d7;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.5s;
}
form.newsletter-form > input[type = "submit"]:hover{
	color: #4272d7;
	background-color: #f1f1f1;
	transition: all 0.5s;
}