.no-padding{padding: 0;} .no-margin{margin: 0;}

.p-t-0 { padding-top : 0px !important;}.p-t-1 { padding-top : 1px !important;}.p-t-2 { padding-top : 2px !important;}.p-t-3 { padding-top : 3px !important;}.p-t-4 { padding-top : 4px !important;}.p-t-5 { padding-top : 5px !important;}
.p-t-6 { padding-top : 6px !important;}.p-t-7 { padding-top : 7px !important;}.p-t-8 { padding-top : 8px !important;}.p-t-9 { padding-top : 9px !important;}.p-t-10 { padding-top : 10px !important;}
.p-t-11 { padding-top : 11px !important;}.p-t-12 { padding-top : 12px !important;}.p-t-13 { padding-top : 13px !important;}.p-t-14 { padding-top : 14px !important;}.p-t-15 { padding-top : 15px !important;}
.p-t-16 { padding-top : 16px !important;}.p-t-17 { padding-top : 17px !important;}.p-t-18 { padding-top : 18px !important;}.p-t-19 { padding-top : 19px !important;}.p-t-20 { padding-top : 20px !important;}
.p-t-21 { padding-top : 21px !important;}.p-t-22 { padding-top : 22px !important;}.p-t-23 { padding-top : 23px !important;}.p-t-24 { padding-top : 24px !important;}.p-t-25 { padding-top : 25px !important;}
.p-t-26 { padding-top : 26px !important;}.p-t-27 { padding-top : 27px !important;}.p-t-28 { padding-top : 28px !important;}.p-t-29 { padding-top : 29px !important;}.p-t-30 { padding-top : 30px !important;}
.p-t-31 { padding-top : 31px !important;}.p-t-32 { padding-top : 32px !important;}.p-t-33 { padding-top : 33px !important;}.p-t-34 { padding-top : 34px !important;}.p-t-35 { padding-top : 35px !important;}
.p-t-36 { padding-top : 36px !important;}.p-t-37 { padding-top : 37px !important;}.p-t-38 { padding-top : 38px !important;}.p-t-39 { padding-top : 39px !important;}.p-t-40 { padding-top : 40px !important;}
.p-t-41 { padding-top : 41px !important;}.p-t-42 { padding-top : 42px !important;}.p-t-43 { padding-top : 43px !important;}.p-t-44 { padding-top : 44px !important;}.p-t-45 { padding-top : 45px !important;}
.p-t-46 { padding-top : 46px !important;}.p-t-47 { padding-top : 47px !important;}.p-t-48 { padding-top : 48px !important;}.p-t-49 { padding-top : 49px !important;}.p-t-50 { padding-top : 50px !important;}
.p-t-51 { padding-top : 51px !important;}.p-t-52 { padding-top : 52px !important;}.p-t-53 { padding-top : 53px !important;}.p-t-54 { padding-top : 54px !important;}.p-t-55 { padding-top : 55px !important;}
.p-t-56 { padding-top : 56px !important;}.p-t-57 { padding-top : 57px !important;}.p-t-58 { padding-top : 58px !important;}.p-t-59 { padding-top : 59px !important;}.p-t-60 { padding-top : 60px !important;}
.p-t-61 { padding-top : 61px !important;}.p-t-62 { padding-top : 62px !important;}.p-t-63 { padding-top : 63px !important;}.p-t-64 { padding-top : 64px !important;}.p-t-65 { padding-top : 65px !important;}
.p-t-66 { padding-top : 66px !important;}.p-t-67 { padding-top : 67px !important;}.p-t-68 { padding-top : 68px !important;}.p-t-69 { padding-top : 69px !important;}.p-t-70 { padding-top : 70px !important;}
.p-t-71 { padding-top : 71px !important;}.p-t-72 { padding-top : 72px !important;}.p-t-73 { padding-top : 73px !important;}.p-t-74 { padding-top : 74px !important;}.p-t-75 { padding-top : 75px !important;}
.p-t-76 { padding-top : 76px !important;}.p-t-77 { padding-top : 77px !important;}.p-t-78 { padding-top : 78px !important;}.p-t-79 { padding-top : 79px !important;}.p-t-80 { padding-top : 80px !important;}
.p-t-81 { padding-top : 81px !important;}.p-t-82 { padding-top : 82px !important;}.p-t-83 { padding-top : 83px !important;}.p-t-84 { padding-top : 84px !important;}.p-t-85 { padding-top : 85px !important;}
.p-t-86 { padding-top : 86px !important;}.p-t-87 { padding-top : 87px !important;}.p-t-88 { padding-top : 88px !important;}.p-t-89 { padding-top : 89px !important;}.p-t-90 { padding-top : 90px !important;}
.p-t-91 { padding-top : 91px !important;}.p-t-92 { padding-top : 92px !important;}.p-t-93 { padding-top : 93px !important;}.p-t-94 { padding-top : 94px !important;}.p-t-95 { padding-top : 95px !important;}
.p-t-96 { padding-top : 96px !important;}.p-t-97 { padding-top : 97px !important;}.p-t-98 { padding-top : 98px !important;}.p-t-99 { padding-top : 99px !important;}.p-t-100 { padding-top : 100px !important;}

.p-r-0 { padding-right : 0px !important;}.p-r-1 { padding-right : 1px !important;}.p-r-2 { padding-right : 2px !important;}.p-r-3 { padding-right : 3px !important;}.p-r-4 { padding-right : 4px !important;}.p-r-5 { padding-right : 5px !important;}
.p-r-6 { padding-right : 6px !important;}.p-r-7 { padding-right : 7px !important;}.p-r-8 { padding-right : 8px !important;}.p-r-9 { padding-right : 9px !important;}.p-r-10 { padding-right : 10px !important;}
.p-r-11 { padding-right : 11px !important;}.p-r-12 { padding-right : 12px !important;}.p-r-13 { padding-right : 13px !important;}.p-r-14 { padding-right : 14px !important;}.p-r-15 { padding-right : 15px !important;}
.p-r-16 { padding-right : 16px !important;}.p-r-17 { padding-right : 17px !important;}.p-r-18 { padding-right : 18px !important;}.p-r-19 { padding-right : 19px !important;}.p-r-20 { padding-right : 20px !important;}
.p-r-21 { padding-right : 21px !important;}.p-r-22 { padding-right : 22px !important;}.p-r-23 { padding-right : 23px !important;}.p-r-24 { padding-right : 24px !important;}.p-r-25 { padding-right : 25px !important;}
.p-r-26 { padding-right : 26px !important;}.p-r-27 { padding-right : 27px !important;}.p-r-28 { padding-right : 28px !important;}.p-r-29 { padding-right : 29px !important;}.p-r-30 { padding-right : 30px !important;}
.p-r-31 { padding-right : 31px !important;}.p-r-32 { padding-right : 32px !important;}.p-r-33 { padding-right : 33px !important;}.p-r-34 { padding-right : 34px !important;}.p-r-35 { padding-right : 35px !important;}
.p-r-36 { padding-right : 36px !important;}.p-r-37 { padding-right : 37px !important;}.p-r-38 { padding-right : 38px !important;}.p-r-39 { padding-right : 39px !important;}.p-r-40 { padding-right : 40px !important;}
.p-r-41 { padding-right : 41px !important;}.p-r-42 { padding-right : 42px !important;}.p-r-43 { padding-right : 43px !important;}.p-r-44 { padding-right : 44px !important;}.p-r-45 { padding-right : 45px !important;}
.p-r-46 { padding-right : 46px !important;}.p-r-47 { padding-right : 47px !important;}.p-r-48 { padding-right : 48px !important;}.p-r-49 { padding-right : 49px !important;}.p-r-50 { padding-right : 50px !important;}
.p-r-51 { padding-right : 51px !important;}.p-r-52 { padding-right : 52px !important;}.p-r-53 { padding-right : 53px !important;}.p-r-54 { padding-right : 54px !important;}.p-r-55 { padding-right : 55px !important;}
.p-r-56 { padding-right : 56px !important;}.p-r-57 { padding-right : 57px !important;}.p-r-58 { padding-right : 58px !important;}.p-r-59 { padding-right : 59px !important;}.p-r-60 { padding-right : 60px !important;}
.p-r-61 { padding-right : 61px !important;}.p-r-62 { padding-right : 62px !important;}.p-r-63 { padding-right : 63px !important;}.p-r-64 { padding-right : 64px !important;}.p-r-65 { padding-right : 65px !important;}
.p-r-66 { padding-right : 66px !important;}.p-r-67 { padding-right : 67px !important;}.p-r-68 { padding-right : 68px !important;}.p-r-69 { padding-right : 69px !important;}.p-r-70 { padding-right : 70px !important;}
.p-r-71 { padding-right : 71px !important;}.p-r-72 { padding-right : 72px !important;}.p-r-73 { padding-right : 73px !important;}.p-r-74 { padding-right : 74px !important;}.p-r-75 { padding-right : 75px !important;}
.p-r-76 { padding-right : 76px !important;}.p-r-77 { padding-right : 77px !important;}.p-r-78 { padding-right : 78px !important;}.p-r-79 { padding-right : 79px !important;}.p-r-80 { padding-right : 80px !important;}
.p-r-81 { padding-right : 81px !important;}.p-r-82 { padding-right : 82px !important;}.p-r-83 { padding-right : 83px !important;}.p-r-84 { padding-right : 84px !important;}.p-r-85 { padding-right : 85px !important;}
.p-r-86 { padding-right : 86px !important;}.p-r-87 { padding-right : 87px !important;}.p-r-88 { padding-right : 88px !important;}.p-r-89 { padding-right : 89px !important;}.p-r-90 { padding-right : 90px !important;}
.p-r-91 { padding-right : 91px !important;}.p-r-92 { padding-right : 92px !important;}.p-r-93 { padding-right : 93px !important;}.p-r-94 { padding-right : 94px !important;}.p-r-95 { padding-right : 95px !important;}
.p-r-96 { padding-right : 96px !important;}.p-r-97 { padding-right : 97px !important;}.p-r-98 { padding-right : 98px !important;}.p-r-99 { padding-right : 99px !important;}.p-r-100 { padding-right : 100px !important;}

.p-b-0 { padding-bottom : 0px !important;}.p-b-1 { padding-bottom : 1px !important;}.p-b-2 { padding-bottom : 2px !important;}.p-b-3 { padding-bottom : 3px !important;}.p-b-4 { padding-bottom : 4px !important;}.p-b-5 { padding-bottom : 5px !important;}
.p-b-6 { padding-bottom : 6px !important;}.p-b-7 { padding-bottom : 7px !important;}.p-b-8 { padding-bottom : 8px !important;}.p-b-9 { padding-bottom : 9px !important;}.p-b-10 { padding-bottom : 10px !important;}
.p-b-11 { padding-bottom : 11px !important;}.p-b-12 { padding-bottom : 12px !important;}.p-b-13 { padding-bottom : 13px !important;}.p-b-14 { padding-bottom : 14px !important;}.p-b-15 { padding-bottom : 15px !important;}
.p-b-16 { padding-bottom : 16px !important;}.p-b-17 { padding-bottom : 17px !important;}.p-b-18 { padding-bottom : 18px !important;}.p-b-19 { padding-bottom : 19px !important;}.p-b-20 { padding-bottom : 20px !important;}
.p-b-21 { padding-bottom : 21px !important;}.p-b-22 { padding-bottom : 22px !important;}.p-b-23 { padding-bottom : 23px !important;}.p-b-24 { padding-bottom : 24px !important;}.p-b-25 { padding-bottom : 25px !important;}
.p-b-26 { padding-bottom : 26px !important;}.p-b-27 { padding-bottom : 27px !important;}.p-b-28 { padding-bottom : 28px !important;}.p-b-29 { padding-bottom : 29px !important;}.p-b-30 { padding-bottom : 30px !important;}
.p-b-31 { padding-bottom : 31px !important;}.p-b-32 { padding-bottom : 32px !important;}.p-b-33 { padding-bottom : 33px !important;}.p-b-34 { padding-bottom : 34px !important;}.p-b-35 { padding-bottom : 35px !important;}
.p-b-36 { padding-bottom : 36px !important;}.p-b-37 { padding-bottom : 37px !important;}.p-b-38 { padding-bottom : 38px !important;}.p-b-39 { padding-bottom : 39px !important;}.p-b-40 { padding-bottom : 40px !important;}
.p-b-41 { padding-bottom : 41px !important;}.p-b-42 { padding-bottom : 42px !important;}.p-b-43 { padding-bottom : 43px !important;}.p-b-44 { padding-bottom : 44px !important;}.p-b-45 { padding-bottom : 45px !important;}
.p-b-46 { padding-bottom : 46px !important;}.p-b-47 { padding-bottom : 47px !important;}.p-b-48 { padding-bottom : 48px !important;}.p-b-49 { padding-bottom : 49px !important;}.p-b-50 { padding-bottom : 50px !important;}
.p-b-51 { padding-bottom : 51px !important;}.p-b-52 { padding-bottom : 52px !important;}.p-b-53 { padding-bottom : 53px !important;}.p-b-54 { padding-bottom : 54px !important;}.p-b-55 { padding-bottom : 55px !important;}
.p-b-56 { padding-bottom : 56px !important;}.p-b-57 { padding-bottom : 57px !important;}.p-b-58 { padding-bottom : 58px !important;}.p-b-59 { padding-bottom : 59px !important;}.p-b-60 { padding-bottom : 60px !important;}
.p-b-61 { padding-bottom : 61px !important;}.p-b-62 { padding-bottom : 62px !important;}.p-b-63 { padding-bottom : 63px !important;}.p-b-64 { padding-bottom : 64px !important;}.p-b-65 { padding-bottom : 65px !important;}
.p-b-66 { padding-bottom : 66px !important;}.p-b-67 { padding-bottom : 67px !important;}.p-b-68 { padding-bottom : 68px !important;}.p-b-69 { padding-bottom : 69px !important;}.p-b-70 { padding-bottom : 70px !important;}
.p-b-71 { padding-bottom : 71px !important;}.p-b-72 { padding-bottom : 72px !important;}.p-b-73 { padding-bottom : 73px !important;}.p-b-74 { padding-bottom : 74px !important;}.p-b-75 { padding-bottom : 75px !important;}
.p-b-76 { padding-bottom : 76px !important;}.p-b-77 { padding-bottom : 77px !important;}.p-b-78 { padding-bottom : 78px !important;}.p-b-79 { padding-bottom : 79px !important;}.p-b-80 { padding-bottom : 80px !important;}
.p-b-81 { padding-bottom : 81px !important;}.p-b-82 { padding-bottom : 82px !important;}.p-b-83 { padding-bottom : 83px !important;}.p-b-84 { padding-bottom : 84px !important;}.p-b-85 { padding-bottom : 85px !important;}
.p-b-86 { padding-bottom : 86px !important;}.p-b-87 { padding-bottom : 87px !important;}.p-b-88 { padding-bottom : 88px !important;}.p-b-89 { padding-bottom : 89px !important;}.p-b-90 { padding-bottom : 90px !important;}
.p-b-91 { padding-bottom : 91px !important;}.p-b-92 { padding-bottom : 92px !important;}.p-b-93 { padding-bottom : 93px !important;}.p-b-94 { padding-bottom : 94px !important;}.p-b-95 { padding-bottom : 95px !important;}
.p-b-96 { padding-bottom : 96px !important;}.p-b-97 { padding-bottom : 97px !important;}.p-b-98 { padding-bottom : 98px !important;}.p-b-99 { padding-bottom : 99px !important;}.p-b-100 { padding-bottom : 100px !important;}

.p-l-0 { padding-left : 0px !important;}.p-l-1 { padding-left : 1px !important;}.p-l-2 { padding-left : 2px !important;}.p-l-3 { padding-left : 3px !important;}.p-l-4 { padding-left : 4px !important;}.p-l-5 { padding-left : 5px !important;}
.p-l-6 { padding-left : 6px !important;}.p-l-7 { padding-left : 7px !important;}.p-l-8 { padding-left : 8px !important;}.p-l-9 { padding-left : 9px !important;}.p-l-10 { padding-left : 10px !important;}
.p-l-11 { padding-left : 11px !important;}.p-l-12 { padding-left : 12px !important;}.p-l-13 { padding-left : 13px !important;}.p-l-14 { padding-left : 14px !important;}.p-l-15 { padding-left : 15px !important;}
.p-l-16 { padding-left : 16px !important;}.p-l-17 { padding-left : 17px !important;}.p-l-18 { padding-left : 18px !important;}.p-l-19 { padding-left : 19px !important;}.p-l-20 { padding-left : 20px !important;}
.p-l-21 { padding-left : 21px !important;}.p-l-22 { padding-left : 22px !important;}.p-l-23 { padding-left : 23px !important;}.p-l-24 { padding-left : 24px !important;}.p-l-25 { padding-left : 25px !important;}
.p-l-26 { padding-left : 26px !important;}.p-l-27 { padding-left : 27px !important;}.p-l-28 { padding-left : 28px !important;}.p-l-29 { padding-left : 29px !important;}.p-l-30 { padding-left : 30px !important;}
.p-l-31 { padding-left : 31px !important;}.p-l-32 { padding-left : 32px !important;}.p-l-33 { padding-left : 33px !important;}.p-l-34 { padding-left : 34px !important;}.p-l-35 { padding-left : 35px !important;}
.p-l-36 { padding-left : 36px !important;}.p-l-37 { padding-left : 37px !important;}.p-l-38 { padding-left : 38px !important;}.p-l-39 { padding-left : 39px !important;}.p-l-40 { padding-left : 40px !important;}
.p-l-41 { padding-left : 41px !important;}.p-l-42 { padding-left : 42px !important;}.p-l-43 { padding-left : 43px !important;}.p-l-44 { padding-left : 44px !important;}.p-l-45 { padding-left : 45px !important;}
.p-l-46 { padding-left : 46px !important;}.p-l-47 { padding-left : 47px !important;}.p-l-48 { padding-left : 48px !important;}.p-l-49 { padding-left : 49px !important;}.p-l-50 { padding-left : 50px !important;}
.p-l-51 { padding-left : 51px !important;}.p-l-52 { padding-left : 52px !important;}.p-l-53 { padding-left : 53px !important;}.p-l-54 { padding-left : 54px !important;}.p-l-55 { padding-left : 55px !important;}
.p-l-56 { padding-left : 56px !important;}.p-l-57 { padding-left : 57px !important;}.p-l-58 { padding-left : 58px !important;}.p-l-59 { padding-left : 59px !important;}.p-l-60 { padding-left : 60px !important;}
.p-l-61 { padding-left : 61px !important;}.p-l-62 { padding-left : 62px !important;}.p-l-63 { padding-left : 63px !important;}.p-l-64 { padding-left : 64px !important;}.p-l-65 { padding-left : 65px !important;}
.p-l-66 { padding-left : 66px !important;}.p-l-67 { padding-left : 67px !important;}.p-l-68 { padding-left : 68px !important;}.p-l-69 { padding-left : 69px !important;}.p-l-70 { padding-left : 70px !important;}
.p-l-71 { padding-left : 71px !important;}.p-l-72 { padding-left : 72px !important;}.p-l-73 { padding-left : 73px !important;}.p-l-74 { padding-left : 74px !important;}.p-l-75 { padding-left : 75px !important;}
.p-l-76 { padding-left : 76px !important;}.p-l-77 { padding-left : 77px !important;}.p-l-78 { padding-left : 78px !important;}.p-l-79 { padding-left : 79px !important;}.p-l-80 { padding-left : 80px !important;}
.p-l-81 { padding-left : 81px !important;}.p-l-82 { padding-left : 82px !important;}.p-l-83 { padding-left : 83px !important;}.p-l-84 { padding-left : 84px !important;}.p-l-85 { padding-left : 85px !important;}
.p-l-86 { padding-left : 86px !important;}.p-l-87 { padding-left : 87px !important;}.p-l-88 { padding-left : 88px !important;}.p-l-89 { padding-left : 89px !important;}.p-l-90 { padding-left : 90px !important;}
.p-l-91 { padding-left : 91px !important;}.p-l-92 { padding-left : 92px !important;}.p-l-93 { padding-left : 93px !important;}.p-l-94 { padding-left : 94px !important;}.p-l-95 { padding-left : 95px !important;}
.p-l-96 { padding-left : 96px !important;}.p-l-97 { padding-left : 97px !important;}.p-l-98 { padding-left : 98px !important;}.p-l-99 { padding-left : 99px !important;}.p-l-100 { padding-left : 100px !important;}

.m-l-5 { margin-left : 5px !important;}.m-l-6 { margin-left : 6px !important;}.m-l-7 { margin-left : 7px !important;}.m-l-8 { margin-left : 8px !important;}.m-l-9 { margin-left : 9px !important;}.m-l-10 { margin-left : 10px !important;}
.m-l-11 { margin-left : 11px !important;}.m-l-12 { margin-left : 12px !important;}.m-l-13 { margin-left : 13px !important;}.m-l-14 { margin-left : 14px !important;}.m-l-15 { margin-left : 15px !important;}
.m-l-16 { margin-left : 16px !important;}.m-l-17 { margin-left : 17px !important;}.m-l-18 { margin-left : 18px !important;}.m-l-19 { margin-left : 19px !important;}.m-l-20 { margin-left : 20px !important;}
.m-l-21 { margin-left : 21px !important;}.m-l-22 { margin-left : 22px !important;}.m-l-23 { margin-left : 23px !important;}.m-l-24 { margin-left : 24px !important;}.m-l-25 { margin-left : 25px !important;}
.m-l-26 { margin-left : 26px !important;}.m-l-27 { margin-left : 27px !important;}.m-l-28 { margin-left : 28px !important;}.m-l-29 { margin-left : 29px !important;}.m-l-30 { margin-left : 30px !important;}
.m-l-31 { margin-left : 31px !important;}.m-l-32 { margin-left : 32px !important;}.m-l-33 { margin-left : 33px !important;}.m-l-34 { margin-left : 34px !important;}.m-l-35 { margin-left : 35px !important;}
.m-l-36 { margin-left : 36px !important;}.m-l-37 { margin-left : 37px !important;}.m-l-38 { margin-left : 38px !important;}.m-l-39 { margin-left : 39px !important;}.m-l-40 { margin-left : 40px !important;}
.m-l-41 { margin-left : 41px !important;}.m-l-42 { margin-left : 42px !important;}.m-l-43 { margin-left : 43px !important;}.m-l-44 { margin-left : 44px !important;}.m-l-45 { margin-left : 45px !important;}
.m-l-46 { margin-left : 46px !important;}.m-l-47 { margin-left : 47px !important;}.m-l-48 { margin-left : 48px !important;}.m-l-49 { margin-left : 49px !important;}.m-l-50 { margin-left : 50px !important;}
.m-l-51 { margin-left : 51px !important;}.m-l-52 { margin-left : 52px !important;}.m-l-53 { margin-left : 53px !important;}.m-l-54 { margin-left : 54px !important;}.m-l-55 { margin-left : 55px !important;}
.m-l-56 { margin-left : 56px !important;}.m-l-57 { margin-left : 57px !important;}.m-l-58 { margin-left : 58px !important;}.m-l-59 { margin-left : 59px !important;}.m-l-60 { margin-left : 60px !important;}
.m-l-61 { margin-left : 61px !important;}.m-l-62 { margin-left : 62px !important;}.m-l-63 { margin-left : 63px !important;}.m-l-64 { margin-left : 64px !important;}.m-l-65 { margin-left : 65px !important;}
.m-l-66 { margin-left : 66px !important;}.m-l-67 { margin-left : 67px !important;}.m-l-68 { margin-left : 68px !important;}.m-l-69 { margin-left : 69px !important;}.m-l-70 { margin-left : 70px !important;}
.m-l-71 { margin-left : 71px !important;}.m-l-72 { margin-left : 72px !important;}.m-l-73 { margin-left : 73px !important;}.m-l-74 { margin-left : 74px !important;}.m-l-75 { margin-left : 75px !important;}
.m-l-76 { margin-left : 76px !important;}.m-l-77 { margin-left : 77px !important;}.m-l-78 { margin-left : 78px !important;}.m-l-79 { margin-left : 79px !important;}.m-l-80 { margin-left : 80px !important;}
.m-l-81 { margin-left : 81px !important;}.m-l-82 { margin-left : 82px !important;}.m-l-83 { margin-left : 83px !important;}.m-l-84 { margin-left : 84px !important;}.m-l-85 { margin-left : 85px !important;}
.m-l-86 { margin-left : 86px !important;}.m-l-87 { margin-left : 87px !important;}.m-l-88 { margin-left : 88px !important;}.m-l-89 { margin-left : 89px !important;}.m-l-90 { margin-left : 90px !important;}
.m-l-91 { margin-left : 91px !important;}.m-l-92 { margin-left : 92px !important;}.m-l-93 { margin-left : 93px !important;}.m-l-94 { margin-left : 94px !important;}.m-l-95 { margin-left : 95px !important;}
.m-l-96 { margin-left : 96px !important;}.m-l-97 { margin-left : 97px !important;}.m-l-98 { margin-left : 98px !important;}.m-l-99 { margin-left : 99px !important;}.m-l-100 { margin-left : 100px !important;}

.m-r-0{	margin-right: 0 !important;}.m-r-5 { margin-right : 5px !important;}.m-r-6 { margin-right : 6px !important;}.m-r-7 { margin-right : 7px !important;}.m-r-8 { margin-right : 8px !important;}.m-r-9 { margin-right : 9px !important;}.m-r-10 { margin-right : 10px !important;}
.m-r-11 { margin-right : 11px !important;}.m-r-12 { margin-right : 12px !important;}.m-r-13 { margin-right : 13px !important;}.m-r-14 { margin-right : 14px !important;}.m-r-15 { margin-right : 15px !important;}
.m-r-16 { margin-right : 16px !important;}.m-r-17 { margin-right : 17px !important;}.m-r-18 { margin-right : 18px !important;}.m-r-19 { margin-right : 19px !important;}.m-r-20 { margin-right : 20px !important;}
.m-r-21 { margin-right : 21px !important;}.m-r-22 { margin-right : 22px !important;}.m-r-23 { margin-right : 23px !important;}.m-r-24 { margin-right : 24px !important;}.m-r-25 { margin-right : 25px !important;}
.m-r-26 { margin-right : 26px !important;}.m-r-27 { margin-right : 27px !important;}.m-r-28 { margin-right : 28px !important;}.m-r-29 { margin-right : 29px !important;}.m-r-30 { margin-right : 30px !important;}
.m-r-31 { margin-right : 31px !important;}.m-r-32 { margin-right : 32px !important;}.m-r-33 { margin-right : 33px !important;}.m-r-34 { margin-right : 34px !important;}.m-r-35 { margin-right : 35px !important;}
.m-r-36 { margin-right : 36px !important;}.m-r-37 { margin-right : 37px !important;}.m-r-38 { margin-right : 38px !important;}.m-r-39 { margin-right : 39px !important;}.m-r-40 { margin-right : 40px !important;}
.m-r-41 { margin-right : 41px !important;}.m-r-42 { margin-right : 42px !important;}.m-r-43 { margin-right : 43px !important;}.m-r-44 { margin-right : 44px !important;}.m-r-45 { margin-right : 45px !important;}
.m-r-46 { margin-right : 46px !important;}.m-r-47 { margin-right : 47px !important;}.m-r-48 { margin-right : 48px !important;}.m-r-49 { margin-right : 49px !important;}.m-r-50 { margin-right : 50px !important;}
.m-r-51 { margin-right : 51px !important;}.m-r-52 { margin-right : 52px !important;}.m-r-53 { margin-right : 53px !important;}.m-r-54 { margin-right : 54px !important;}.m-r-55 { margin-right : 55px !important;}
.m-r-56 { margin-right : 56px !important;}.m-r-57 { margin-right : 57px !important;}.m-r-58 { margin-right : 58px !important;}.m-r-59 { margin-right : 59px !important;}.m-r-60 { margin-right : 60px !important;}
.m-r-61 { margin-right : 61px !important;}.m-r-62 { margin-right : 62px !important;}.m-r-63 { margin-right : 63px !important;}.m-r-64 { margin-right : 64px !important;}.m-r-65 { margin-right : 65px !important;}
.m-r-66 { margin-right : 66px !important;}.m-r-67 { margin-right : 67px !important;}.m-r-68 { margin-right : 68px !important;}.m-r-69 { margin-right : 69px !important;}.m-r-70 { margin-right : 70px !important;}
.m-r-71 { margin-right : 71px !important;}.m-r-72 { margin-right : 72px !important;}.m-r-73 { margin-right : 73px !important;}.m-r-74 { margin-right : 74px !important;}.m-r-75 { margin-right : 75px !important;}
.m-r-76 { margin-right : 76px !important;}.m-r-77 { margin-right : 77px !important;}.m-r-78 { margin-right : 78px !important;}.m-r-79 { margin-right : 79px !important;}.m-r-80 { margin-right : 80px !important;}
.m-r-81 { margin-right : 81px !important;}.m-r-82 { margin-right : 82px !important;}.m-r-83 { margin-right : 83px !important;}.m-r-84 { margin-right : 84px !important;}.m-r-85 { margin-right : 85px !important;}
.m-r-86 { margin-right : 86px !important;}.m-r-87 { margin-right : 87px !important;}.m-r-88 { margin-right : 88px !important;}.m-r-89 { margin-right : 89px !important;}.m-r-90 { margin-right : 90px !important;}
.m-r-91 { margin-right : 91px !important;}.m-r-92 { margin-right : 92px !important;}.m-r-93 { margin-right : 93px !important;}.m-r-94 { margin-right : 94px !important;}.m-r-95 { margin-right : 95px !important;}
.m-r-96 { margin-right : 96px !important;}.m-r-97 { margin-right : 97px !important;}.m-r-98 { margin-right : 98px !important;}.m-r-99 { margin-right : 99px !important;}.m-r-100 { margin-right : 100px !important;}

.m-t-0 { margin-top : 0px !important;}.m-t-1 { margin-top : 1px !important;}.m-t-2 { margin-top : 2px !important;}.m-t-3 { margin-top : 3px !important;}.m-t-4 { margin-top : 4px !important;}.m-t-5 { margin-top : 5px !important;}
.m-t-6 { margin-top : 6px !important;}.m-t-7 { margin-top : 7px !important;}.m-t-8 { margin-top : 8px !important;}.m-t-9 { margin-top : 9px !important;}.m-t-10 { margin-top : 10px !important;}
.m-t-11 { margin-top : 11px !important;}.m-t-12 { margin-top : 12px !important;}.m-t-13 { margin-top : 13px !important;}.m-t-14 { margin-top : 14px !important;}.m-t-15 { margin-top : 15px !important;}
.m-t-16 { margin-top : 16px !important;}.m-t-17 { margin-top : 17px !important;}.m-t-18 { margin-top : 18px !important;}.m-t-19 { margin-top : 19px !important;}.m-t-20 { margin-top : 20px !important;}
.m-t-21 { margin-top : 21px !important;}.m-t-22 { margin-top : 22px !important;}.m-t-23 { margin-top : 23px !important;}.m-t-24 { margin-top : 24px !important;}.m-t-25 { margin-top : 25px !important;}
.m-t-26 { margin-top : 26px !important;}.m-t-27 { margin-top : 27px !important;}.m-t-28 { margin-top : 28px !important;}.m-t-29 { margin-top : 29px !important;}.m-t-30 { margin-top : 30px !important;}
.m-t-31 { margin-top : 31px !important;}.m-t-32 { margin-top : 32px !important;}.m-t-33 { margin-top : 33px !important;}.m-t-34 { margin-top : 34px !important;}.m-t-35 { margin-top : 35px !important;}
.m-t-36 { margin-top : 36px !important;}.m-t-37 { margin-top : 37px !important;}.m-t-38 { margin-top : 38px !important;}.m-t-39 { margin-top : 39px !important;}.m-t-40 { margin-top : 40px !important;}
.m-t-41 { margin-top : 41px !important;}.m-t-42 { margin-top : 42px !important;}.m-t-43 { margin-top : 43px !important;}.m-t-44 { margin-top : 44px !important;}.m-t-45 { margin-top : 45px !important;}
.m-t-46 { margin-top : 46px !important;}.m-t-47 { margin-top : 47px !important;}.m-t-48 { margin-top : 48px !important;}.m-t-49 { margin-top : 49px !important;}.m-t-50 { margin-top : 50px !important;}
.m-t-51 { margin-top : 51px !important;}.m-t-52 { margin-top : 52px !important;}.m-t-53 { margin-top : 53px !important;}.m-t-54 { margin-top : 54px !important;}.m-t-55 { margin-top : 55px !important;}
.m-t-56 { margin-top : 56px !important;}.m-t-57 { margin-top : 57px !important;}.m-t-58 { margin-top : 58px !important;}.m-t-59 { margin-top : 59px !important;}.m-t-60 { margin-top : 60px !important;}
.m-t-61 { margin-top : 61px !important;}.m-t-62 { margin-top : 62px !important;}.m-t-63 { margin-top : 63px !important;}.m-t-64 { margin-top : 64px !important;}.m-t-65 { margin-top : 65px !important;}
.m-t-66 { margin-top : 66px !important;}.m-t-67 { margin-top : 67px !important;}.m-t-68 { margin-top : 68px !important;}.m-t-69 { margin-top : 69px !important;}.m-t-70 { margin-top : 70px !important;}
.m-t-71 { margin-top : 71px !important;}.m-t-72 { margin-top : 72px !important;}.m-t-73 { margin-top : 73px !important;}.m-t-74 { margin-top : 74px !important;}.m-t-75 { margin-top : 75px !important;}
.m-t-76 { margin-top : 76px !important;}.m-t-77 { margin-top : 77px !important;}.m-t-78 { margin-top : 78px !important;}.m-t-79 { margin-top : 79px !important;}.m-t-80 { margin-top : 80px !important;}
.m-t-81 { margin-top : 81px !important;}.m-t-82 { margin-top : 82px !important;}.m-t-83 { margin-top : 83px !important;}.m-t-84 { margin-top : 84px !important;}.m-t-85 { margin-top : 85px !important;}
.m-t-86 { margin-top : 86px !important;}.m-t-87 { margin-top : 87px !important;}.m-t-88 { margin-top : 88px !important;}.m-t-89 { margin-top : 89px !important;}.m-t-90 { margin-top : 90px !important;}
.m-t-91 { margin-top : 91px !important;}.m-t-92 { margin-top : 92px !important;}.m-t-93 { margin-top : 93px !important;}.m-t-94 { margin-top : 94px !important;}.m-t-95 { margin-top : 95px !important;}
.m-t-96 { margin-top : 96px !important;}.m-t-97 { margin-top : 97px !important;}.m-t-98 { margin-top : 98px !important;}.m-t-99 { margin-top : 99px !important;}.m-t-100 { margin-top : 100px !important;}

.m-b-0 { margin-bottom : 0px !important;}.m-b-1 { margin-bottom : 1px !important;}.m-b-2 { margin-bottom : 2px !important;}.m-b-3 { margin-bottom : 3px !important;}.m-b-4 { margin-bottom : 4px !important;}.m-b-5 { margin-bottom : 5px !important;}
.m-b-6 { margin-bottom : 6px !important;}.m-b-7 { margin-bottom : 7px !important;}.m-b-8 { margin-bottom : 8px !important;}.m-b-9 { margin-bottom : 9px !important;}.m-b-10 { margin-bottom : 10px !important;}
.m-b-11 { margin-bottom : 11px !important;}.m-b-12 { margin-bottom : 12px !important;}.m-b-13 { margin-bottom : 13px !important;}.m-b-14 { margin-bottom : 14px !important;}.m-b-15 { margin-bottom : 15px !important;}
.m-b-16 { margin-bottom : 16px !important;}.m-b-17 { margin-bottom : 17px !important;}.m-b-18 { margin-bottom : 18px !important;}.m-b-19 { margin-bottom : 19px !important;}.m-b-20 { margin-bottom : 20px !important;}
.m-b-21 { margin-bottom : 21px !important;}.m-b-22 { margin-bottom : 22px !important;}.m-b-23 { margin-bottom : 23px !important;}.m-b-24 { margin-bottom : 24px !important;}.m-b-25 { margin-bottom : 25px !important;}
.m-b-26 { margin-bottom : 26px !important;}.m-b-27 { margin-bottom : 27px !important;}.m-b-28 { margin-bottom : 28px !important;}.m-b-29 { margin-bottom : 29px !important;}.m-b-30 { margin-bottom : 30px !important;}
.m-b-31 { margin-bottom : 31px !important;}.m-b-32 { margin-bottom : 32px !important;}.m-b-33 { margin-bottom : 33px !important;}.m-b-34 { margin-bottom : 34px !important;}.m-b-35 { margin-bottom : 35px !important;}
.m-b-36 { margin-bottom : 36px !important;}.m-b-37 { margin-bottom : 37px !important;}.m-b-38 { margin-bottom : 38px !important;}.m-b-39 { margin-bottom : 39px !important;}.m-b-40 { margin-bottom : 40px !important;}
.m-b-41 { margin-bottom : 41px !important;}.m-b-42 { margin-bottom : 42px !important;}.m-b-43 { margin-bottom : 43px !important;}.m-b-44 { margin-bottom : 44px !important;}.m-b-45 { margin-bottom : 45px !important;}
.m-b-46 { margin-bottom : 46px !important;}.m-b-47 { margin-bottom : 47px !important;}.m-b-48 { margin-bottom : 48px !important;}.m-b-49 { margin-bottom : 49px !important;}.m-b-50 { margin-bottom : 50px !important;}
.m-b-51 { margin-bottom : 51px !important;}.m-b-52 { margin-bottom : 52px !important;}.m-b-53 { margin-bottom : 53px !important;}.m-b-54 { margin-bottom : 54px !important;}.m-b-55 { margin-bottom : 55px !important;}
.m-b-56 { margin-bottom : 56px !important;}.m-b-57 { margin-bottom : 57px !important;}.m-b-58 { margin-bottom : 58px !important;}.m-b-59 { margin-bottom : 59px !important;}.m-b-60 { margin-bottom : 60px !important;}
.m-b-61 { margin-bottom : 61px !important;}.m-b-62 { margin-bottom : 62px !important;}.m-b-63 { margin-bottom : 63px !important;}.m-b-64 { margin-bottom : 64px !important;}.m-b-65 { margin-bottom : 65px !important;}
.m-b-66 { margin-bottom : 66px !important;}.m-b-67 { margin-bottom : 67px !important;}.m-b-68 { margin-bottom : 68px !important;}.m-b-69 { margin-bottom : 69px !important;}.m-b-70 { margin-bottom : 70px !important;}
.m-b-71 { margin-bottom : 71px !important;}.m-b-72 { margin-bottom : 72px !important;}.m-b-73 { margin-bottom : 73px !important;}.m-b-74 { margin-bottom : 74px !important;}.m-b-75 { margin-bottom : 75px !important;}
.m-b-76 { margin-bottom : 76px !important;}.m-b-77 { margin-bottom : 77px !important;}.m-b-78 { margin-bottom : 78px !important;}.m-b-79 { margin-bottom : 79px !important;}.m-b-80 { margin-bottom : 80px !important;}
.m-b-81 { margin-bottom : 81px !important;}.m-b-82 { margin-bottom : 82px !important;}.m-b-83 { margin-bottom : 83px !important;}.m-b-84 { margin-bottom : 84px !important;}.m-b-85 { margin-bottom : 85px !important;}
.m-b-86 { margin-bottom : 86px !important;}.m-b-87 { margin-bottom : 87px !important;}.m-b-88 { margin-bottom : 88px !important;}.m-b-89 { margin-bottom : 89px !important;}.m-b-90 { margin-bottom : 90px !important;}
.m-b-91 { margin-bottom : 91px !important;}.m-b-92 { margin-bottom : 92px !important;}.m-b-93 { margin-bottom : 93px !important;}.m-b-94 { margin-bottom : 94px !important;}.m-b-95 { margin-bottom : 95px !important;}
.m-b-96 { margin-bottom : 96px !important;}.m-b-97 { margin-bottom : 97px !important;}.m-b-98 { margin-bottom : 98px !important;}.m-b-99 { margin-bottom : 99px !important;}.m-b-100 { margin-bottom : 100px !important;}



@media only screen and (min-width: 576px) and (max-width: 767px){
	.mt-sm-0 :{ margin-top: 0px;}.mr-sm-0 :{ margin-right: 0px;}.mb-sm-0 :{ margin-bottom: 0px;}.ml-sm-0 :{ margin-left: 0px;}.mt-sm-1 :{ margin-top: 1px;}.mr-sm-1 :{ margin-right: 1px;}.mb-sm-1 :{ margin-bottom: 1px;}.ml-sm-1 :{ margin-left: 1px;}.mt-sm-2 :{ margin-top: 2px;}.mr-sm-2 :{ margin-right: 2px;}.mb-sm-2 :{ margin-bottom: 2px;}.ml-sm-2 :{ margin-left: 2px;}.mt-sm-3 :{ margin-top: 3px;}.mr-sm-3 :{ margin-right: 3px;}.mb-sm-3 :{ margin-bottom: 3px;}.ml-sm-3 :{ margin-left: 3px;}.mt-sm-4 :{ margin-top: 4px;}.mr-sm-4 :{ margin-right: 4px;}.mb-sm-4 :{ margin-bottom: 4px;}.ml-sm-4 :{ margin-left: 4px;}.mt-sm-5 :{ margin-top: 5px;}.mr-sm-5 :{ margin-right: 5px;}.mb-sm-5 :{ margin-bottom: 5px;}.ml-sm-5 :{ margin-left: 5px;}.mt-sm-6 :{ margin-top: 6px;}.mr-sm-6 :{ margin-right: 6px;}.mb-sm-6 :{ margin-bottom: 6px;}.ml-sm-6 :{ margin-left: 6px;}.mt-sm-7 :{ margin-top: 7px;}.mr-sm-7 :{ margin-right: 7px;}.mb-sm-7 :{ margin-bottom: 7px;}.ml-sm-7 :{ margin-left: 7px;}.mt-sm-8 :{ margin-top: 8px;}.mr-sm-8 :{ margin-right: 8px;}.mb-sm-8 :{ margin-bottom: 8px;}.ml-sm-8 :{ margin-left: 8px;}.mt-sm-9 :{ margin-top: 9px;}.mr-sm-9 :{ margin-right: 9px;}.mb-sm-9 :{ margin-bottom: 9px;}.ml-sm-9 :{ margin-left: 9px;}.mt-sm-10 :{ margin-top: 10px;}.mr-sm-10 :{ margin-right: 10px;}.mb-sm-10 :{ margin-bottom: 10px;}.ml-sm-10 :{ margin-left: 10px;}.mt-sm-11 :{ margin-top: 11px;}.mr-sm-11 :{ margin-right: 11px;}.mb-sm-11 :{ margin-bottom: 11px;}.ml-sm-11 :{ margin-left: 11px;}.mt-sm-12 :{ margin-top: 12px;}.mr-sm-12 :{ margin-right: 12px;}.mb-sm-12 :{ margin-bottom: 12px;}.ml-sm-12 :{ margin-left: 12px;}.mt-sm-13 :{ margin-top: 13px;}.mr-sm-13 :{ margin-right: 13px;}.mb-sm-13 :{ margin-bottom: 13px;}.ml-sm-13 :{ margin-left: 13px;}.mt-sm-14 :{ margin-top: 14px;}.mr-sm-14 :{ margin-right: 14px;}.mb-sm-14 :{ margin-bottom: 14px;}.ml-sm-14 :{ margin-left: 14px;}.mt-sm-15 :{ margin-top: 15px;}.mr-sm-15 :{ margin-right: 15px;}.mb-sm-15 :{ margin-bottom: 15px;}.ml-sm-15 :{ margin-left: 15px;}.mt-sm-16 :{ margin-top: 16px;}.mr-sm-16 :{ margin-right: 16px;}.mb-sm-16 :{ margin-bottom: 16px;}.ml-sm-16 :{ margin-left: 16px;}.mt-sm-17 :{ margin-top: 17px;}.mr-sm-17 :{ margin-right: 17px;}.mb-sm-17 :{ margin-bottom: 17px;}.ml-sm-17 :{ margin-left: 17px;}.mt-sm-18 :{ margin-top: 18px;}.mr-sm-18 :{ margin-right: 18px;}.mb-sm-18 :{ margin-bottom: 18px;}.ml-sm-18 :{ margin-left: 18px;}.mt-sm-19 :{ margin-top: 19px;}.mr-sm-19 :{ margin-right: 19px;}.mb-sm-19 :{ margin-bottom: 19px;}.ml-sm-19 :{ margin-left: 19px;}.mt-sm-20 :{ margin-top: 20px;}.mr-sm-20 :{ margin-right: 20px;}.mb-sm-20 :{ margin-bottom: 20px;}.ml-sm-20 :{ margin-left: 20px;}.mt-sm-21 :{ margin-top: 21px;}.mr-sm-21 :{ margin-right: 21px;}.mb-sm-21 :{ margin-bottom: 21px;}.ml-sm-21 :{ margin-left: 21px;}.mt-sm-22 :{ margin-top: 22px;}.mr-sm-22 :{ margin-right: 22px;}.mb-sm-22 :{ margin-bottom: 22px;}.ml-sm-22 :{ margin-left: 22px;}.mt-sm-23 :{ margin-top: 23px;}.mr-sm-23 :{ margin-right: 23px;}.mb-sm-23 :{ margin-bottom: 23px;}.ml-sm-23 :{ margin-left: 23px;}.mt-sm-24 :{ margin-top: 24px;}.mr-sm-24 :{ margin-right: 24px;}.mb-sm-24 :{ margin-bottom: 24px;}.ml-sm-24 :{ margin-left: 24px;}.mt-sm-25 :{ margin-top: 25px;}.mr-sm-25 :{ margin-right: 25px;}.mb-sm-25 :{ margin-bottom: 25px;}.ml-sm-25 :{ margin-left: 25px;}.mt-sm-26 :{ margin-top: 26px;}.mr-sm-26 :{ margin-right: 26px;}.mb-sm-26 :{ margin-bottom: 26px;}.ml-sm-26 :{ margin-left: 26px;}.mt-sm-27 :{ margin-top: 27px;}.mr-sm-27 :{ margin-right: 27px;}.mb-sm-27 :{ margin-bottom: 27px;}.ml-sm-27 :{ margin-left: 27px;}.mt-sm-28 :{ margin-top: 28px;}.mr-sm-28 :{ margin-right: 28px;}.mb-sm-28 :{ margin-bottom: 28px;}.ml-sm-28 :{ margin-left: 28px;}.mt-sm-29 :{ margin-top: 29px;}.mr-sm-29 :{ margin-right: 29px;}.mb-sm-29 :{ margin-bottom: 29px;}.ml-sm-29 :{ margin-left: 29px;}.mt-sm-30 :{ margin-top: 30px;}.mr-sm-30 :{ margin-right: 30px;}.mb-sm-30 :{ margin-bottom: 30px;}.ml-sm-30 :{ margin-left: 30px;}.mt-sm-31 :{ margin-top: 31px;}.mr-sm-31 :{ margin-right: 31px;}.mb-sm-31 :{ margin-bottom: 31px;}.ml-sm-31 :{ margin-left: 31px;}.mt-sm-32 :{ margin-top: 32px;}.mr-sm-32 :{ margin-right: 32px;}.mb-sm-32 :{ margin-bottom: 32px;}.ml-sm-32 :{ margin-left: 32px;}.mt-sm-33 :{ margin-top: 33px;}.mr-sm-33 :{ margin-right: 33px;}.mb-sm-33 :{ margin-bottom: 33px;}.ml-sm-33 :{ margin-left: 33px;}.mt-sm-34 :{ margin-top: 34px;}.mr-sm-34 :{ margin-right: 34px;}.mb-sm-34 :{ margin-bottom: 34px;}.ml-sm-34 :{ margin-left: 34px;}.mt-sm-35 :{ margin-top: 35px;}.mr-sm-35 :{ margin-right: 35px;}.mb-sm-35 :{ margin-bottom: 35px;}.ml-sm-35 :{ margin-left: 35px;}.mt-sm-36 :{ margin-top: 36px;}.mr-sm-36 :{ margin-right: 36px;}.mb-sm-36 :{ margin-bottom: 36px;}.ml-sm-36 :{ margin-left: 36px;}.mt-sm-37 :{ margin-top: 37px;}.mr-sm-37 :{ margin-right: 37px;}.mb-sm-37 :{ margin-bottom: 37px;}.ml-sm-37 :{ margin-left: 37px;}.mt-sm-38 :{ margin-top: 38px;}.mr-sm-38 :{ margin-right: 38px;}.mb-sm-38 :{ margin-bottom: 38px;}.ml-sm-38 :{ margin-left: 38px;}.mt-sm-39 :{ margin-top: 39px;}.mr-sm-39 :{ margin-right: 39px;}.mb-sm-39 :{ margin-bottom: 39px;}.ml-sm-39 :{ margin-left: 39px;}.mt-sm-40 :{ margin-top: 40px;}.mr-sm-40 :{ margin-right: 40px;}.mb-sm-40 :{ margin-bottom: 40px;}.ml-sm-40 :{ margin-left: 40px;}.mt-sm-41 :{ margin-top: 41px;}.mr-sm-41 :{ margin-right: 41px;}.mb-sm-41 :{ margin-bottom: 41px;}.ml-sm-41 :{ margin-left: 41px;}.mt-sm-42 :{ margin-top: 42px;}.mr-sm-42 :{ margin-right: 42px;}.mb-sm-42 :{ margin-bottom: 42px;}.ml-sm-42 :{ margin-left: 42px;}.mt-sm-43 :{ margin-top: 43px;}.mr-sm-43 :{ margin-right: 43px;}.mb-sm-43 :{ margin-bottom: 43px;}.ml-sm-43 :{ margin-left: 43px;}.mt-sm-44 :{ margin-top: 44px;}.mr-sm-44 :{ margin-right: 44px;}.mb-sm-44 :{ margin-bottom: 44px;}.ml-sm-44 :{ margin-left: 44px;}.mt-sm-45 :{ margin-top: 45px;}.mr-sm-45 :{ margin-right: 45px;}.mb-sm-45 :{ margin-bottom: 45px;}.ml-sm-45 :{ margin-left: 45px;}.mt-sm-46 :{ margin-top: 46px;}.mr-sm-46 :{ margin-right: 46px;}.mb-sm-46 :{ margin-bottom: 46px;}.ml-sm-46 :{ margin-left: 46px;}.mt-sm-47 :{ margin-top: 47px;}.mr-sm-47 :{ margin-right: 47px;}.mb-sm-47 :{ margin-bottom: 47px;}.ml-sm-47 :{ margin-left: 47px;}.mt-sm-48 :{ margin-top: 48px;}.mr-sm-48 :{ margin-right: 48px;}.mb-sm-48 :{ margin-bottom: 48px;}.ml-sm-48 :{ margin-left: 48px;}.mt-sm-49 :{ margin-top: 49px;}.mr-sm-49 :{ margin-right: 49px;}.mb-sm-49 :{ margin-bottom: 49px;}.ml-sm-49 :{ margin-left: 49px;}.mt-sm-50 :{ margin-top: 50px;}.mr-sm-50 :{ margin-right: 50px;}.mb-sm-50 :{ margin-bottom: 50px;}.ml-sm-50 :{ margin-left: 50px;}.mt-sm-51 :{ margin-top: 51px;}.mr-sm-51 :{ margin-right: 51px;}.mb-sm-51 :{ margin-bottom: 51px;}.ml-sm-51 :{ margin-left: 51px;}.mt-sm-52 :{ margin-top: 52px;}.mr-sm-52 :{ margin-right: 52px;}.mb-sm-52 :{ margin-bottom: 52px;}.ml-sm-52 :{ margin-left: 52px;}.mt-sm-53 :{ margin-top: 53px;}.mr-sm-53 :{ margin-right: 53px;}.mb-sm-53 :{ margin-bottom: 53px;}.ml-sm-53 :{ margin-left: 53px;}.mt-sm-54 :{ margin-top: 54px;}.mr-sm-54 :{ margin-right: 54px;}.mb-sm-54 :{ margin-bottom: 54px;}.ml-sm-54 :{ margin-left: 54px;}.mt-sm-55 :{ margin-top: 55px;}.mr-sm-55 :{ margin-right: 55px;}.mb-sm-55 :{ margin-bottom: 55px;}.ml-sm-55 :{ margin-left: 55px;}.mt-sm-56 :{ margin-top: 56px;}.mr-sm-56 :{ margin-right: 56px;}.mb-sm-56 :{ margin-bottom: 56px;}.ml-sm-56 :{ margin-left: 56px;}.mt-sm-57 :{ margin-top: 57px;}.mr-sm-57 :{ margin-right: 57px;}.mb-sm-57 :{ margin-bottom: 57px;}.ml-sm-57 :{ margin-left: 57px;}.mt-sm-58 :{ margin-top: 58px;}.mr-sm-58 :{ margin-right: 58px;}.mb-sm-58 :{ margin-bottom: 58px;}.ml-sm-58 :{ margin-left: 58px;}.mt-sm-59 :{ margin-top: 59px;}.mr-sm-59 :{ margin-right: 59px;}.mb-sm-59 :{ margin-bottom: 59px;}.ml-sm-59 :{ margin-left: 59px;}.mt-sm-60 :{ margin-top: 60px;}.mr-sm-60 :{ margin-right: 60px;}.mb-sm-60 :{ margin-bottom: 60px;}.ml-sm-60 :{ margin-left: 60px;}.mt-sm-61 :{ margin-top: 61px;}.mr-sm-61 :{ margin-right: 61px;}.mb-sm-61 :{ margin-bottom: 61px;}.ml-sm-61 :{ margin-left: 61px;}.mt-sm-62 :{ margin-top: 62px;}.mr-sm-62 :{ margin-right: 62px;}.mb-sm-62 :{ margin-bottom: 62px;}.ml-sm-62 :{ margin-left: 62px;}.mt-sm-63 :{ margin-top: 63px;}.mr-sm-63 :{ margin-right: 63px;}.mb-sm-63 :{ margin-bottom: 63px;}.ml-sm-63 :{ margin-left: 63px;}.mt-sm-64 :{ margin-top: 64px;}.mr-sm-64 :{ margin-right: 64px;}.mb-sm-64 :{ margin-bottom: 64px;}.ml-sm-64 :{ margin-left: 64px;}.mt-sm-65 :{ margin-top: 65px;}.mr-sm-65 :{ margin-right: 65px;}.mb-sm-65 :{ margin-bottom: 65px;}.ml-sm-65 :{ margin-left: 65px;}.mt-sm-66 :{ margin-top: 66px;}.mr-sm-66 :{ margin-right: 66px;}.mb-sm-66 :{ margin-bottom: 66px;}.ml-sm-66 :{ margin-left: 66px;}.mt-sm-67 :{ margin-top: 67px;}.mr-sm-67 :{ margin-right: 67px;}.mb-sm-67 :{ margin-bottom: 67px;}.ml-sm-67 :{ margin-left: 67px;}.mt-sm-68 :{ margin-top: 68px;}.mr-sm-68 :{ margin-right: 68px;}.mb-sm-68 :{ margin-bottom: 68px;}.ml-sm-68 :{ margin-left: 68px;}.mt-sm-69 :{ margin-top: 69px;}.mr-sm-69 :{ margin-right: 69px;}.mb-sm-69 :{ margin-bottom: 69px;}.ml-sm-69 :{ margin-left: 69px;}.mt-sm-70 :{ margin-top: 70px;}.mr-sm-70 :{ margin-right: 70px;}.mb-sm-70 :{ margin-bottom: 70px;}.ml-sm-70 :{ margin-left: 70px;}.mt-sm-71 :{ margin-top: 71px;}.mr-sm-71 :{ margin-right: 71px;}.mb-sm-71 :{ margin-bottom: 71px;}.ml-sm-71 :{ margin-left: 71px;}.mt-sm-72 :{ margin-top: 72px;}.mr-sm-72 :{ margin-right: 72px;}.mb-sm-72 :{ margin-bottom: 72px;}.ml-sm-72 :{ margin-left: 72px;}.mt-sm-73 :{ margin-top: 73px;}.mr-sm-73 :{ margin-right: 73px;}.mb-sm-73 :{ margin-bottom: 73px;}.ml-sm-73 :{ margin-left: 73px;}.mt-sm-74 :{ margin-top: 74px;}.mr-sm-74 :{ margin-right: 74px;}.mb-sm-74 :{ margin-bottom: 74px;}.ml-sm-74 :{ margin-left: 74px;}.mt-sm-75 :{ margin-top: 75px;}.mr-sm-75 :{ margin-right: 75px;}.mb-sm-75 :{ margin-bottom: 75px;}.ml-sm-75 :{ margin-left: 75px;}.mt-sm-76 :{ margin-top: 76px;}.mr-sm-76 :{ margin-right: 76px;}.mb-sm-76 :{ margin-bottom: 76px;}.ml-sm-76 :{ margin-left: 76px;}.mt-sm-77 :{ margin-top: 77px;}.mr-sm-77 :{ margin-right: 77px;}.mb-sm-77 :{ margin-bottom: 77px;}.ml-sm-77 :{ margin-left: 77px;}.mt-sm-78 :{ margin-top: 78px;}.mr-sm-78 :{ margin-right: 78px;}.mb-sm-78 :{ margin-bottom: 78px;}.ml-sm-78 :{ margin-left: 78px;}.mt-sm-79 :{ margin-top: 79px;}.mr-sm-79 :{ margin-right: 79px;}.mb-sm-79 :{ margin-bottom: 79px;}.ml-sm-79 :{ margin-left: 79px;}.mt-sm-80 :{ margin-top: 80px;}.mr-sm-80 :{ margin-right: 80px;}.mb-sm-80 :{ margin-bottom: 80px;}.ml-sm-80 :{ margin-left: 80px;}.mt-sm-81 :{ margin-top: 81px;}.mr-sm-81 :{ margin-right: 81px;}.mb-sm-81 :{ margin-bottom: 81px;}.ml-sm-81 :{ margin-left: 81px;}.mt-sm-82 :{ margin-top: 82px;}.mr-sm-82 :{ margin-right: 82px;}.mb-sm-82 :{ margin-bottom: 82px;}.ml-sm-82 :{ margin-left: 82px;}.mt-sm-83 :{ margin-top: 83px;}.mr-sm-83 :{ margin-right: 83px;}.mb-sm-83 :{ margin-bottom: 83px;}.ml-sm-83 :{ margin-left: 83px;}.mt-sm-84 :{ margin-top: 84px;}.mr-sm-84 :{ margin-right: 84px;}.mb-sm-84 :{ margin-bottom: 84px;}.ml-sm-84 :{ margin-left: 84px;}.mt-sm-85 :{ margin-top: 85px;}.mr-sm-85 :{ margin-right: 85px;}.mb-sm-85 :{ margin-bottom: 85px;}.ml-sm-85 :{ margin-left: 85px;}.mt-sm-86 :{ margin-top: 86px;}.mr-sm-86 :{ margin-right: 86px;}.mb-sm-86 :{ margin-bottom: 86px;}.ml-sm-86 :{ margin-left: 86px;}.mt-sm-87 :{ margin-top: 87px;}.mr-sm-87 :{ margin-right: 87px;}.mb-sm-87 :{ margin-bottom: 87px;}.ml-sm-87 :{ margin-left: 87px;}.mt-sm-88 :{ margin-top: 88px;}.mr-sm-88 :{ margin-right: 88px;}.mb-sm-88 :{ margin-bottom: 88px;}.ml-sm-88 :{ margin-left: 88px;}.mt-sm-89 :{ margin-top: 89px;}.mr-sm-89 :{ margin-right: 89px;}.mb-sm-89 :{ margin-bottom: 89px;}.ml-sm-89 :{ margin-left: 89px;}.mt-sm-90 :{ margin-top: 90px;}.mr-sm-90 :{ margin-right: 90px;}.mb-sm-90 :{ margin-bottom: 90px;}.ml-sm-90 :{ margin-left: 90px;}.mt-sm-91 :{ margin-top: 91px;}.mr-sm-91 :{ margin-right: 91px;}.mb-sm-91 :{ margin-bottom: 91px;}.ml-sm-91 :{ margin-left: 91px;}.mt-sm-92 :{ margin-top: 92px;}.mr-sm-92 :{ margin-right: 92px;}.mb-sm-92 :{ margin-bottom: 92px;}.ml-sm-92 :{ margin-left: 92px;}.mt-sm-93 :{ margin-top: 93px;}.mr-sm-93 :{ margin-right: 93px;}.mb-sm-93 :{ margin-bottom: 93px;}.ml-sm-93 :{ margin-left: 93px;}.mt-sm-94 :{ margin-top: 94px;}.mr-sm-94 :{ margin-right: 94px;}.mb-sm-94 :{ margin-bottom: 94px;}.ml-sm-94 :{ margin-left: 94px;}.mt-sm-95 :{ margin-top: 95px;}.mr-sm-95 :{ margin-right: 95px;}.mb-sm-95 :{ margin-bottom: 95px;}.ml-sm-95 :{ margin-left: 95px;}.mt-sm-96 :{ margin-top: 96px;}.mr-sm-96 :{ margin-right: 96px;}.mb-sm-96 :{ margin-bottom: 96px;}.ml-sm-96 :{ margin-left: 96px;}.mt-sm-97 :{ margin-top: 97px;}.mr-sm-97 :{ margin-right: 97px;}.mb-sm-97 :{ margin-bottom: 97px;}.ml-sm-97 :{ margin-left: 97px;}.mt-sm-98 :{ margin-top: 98px;}.mr-sm-98 :{ margin-right: 98px;}.mb-sm-98 :{ margin-bottom: 98px;}.ml-sm-98 :{ margin-left: 98px;}.mt-sm-99 :{ margin-top: 99px;}.mr-sm-99 :{ margin-right: 99px;}.mb-sm-99 :{ margin-bottom: 99px;}.ml-sm-99 :{ margin-left: 99px;}.mt-sm-100 :{ margin-top: 100px;}.mr-sm-100 :{ margin-right: 100px;}.mb-sm-100 :{ margin-bottom: 100px;}.ml-sm-100 :{ margin-left: 100px;}
}

@media only screen and (min-width: 768px ) and (max-width: 991px){
	.mt-md-0 :{ margin-top: 0px;}.mr-md-0 :{ margin-right: 0px;}.mb-md-0 :{ margin-bottom: 0px;}.ml-md-0 :{ margin-left: 0px;}.mt-md-1 :{ margin-top: 1px;}.mr-md-1 :{ margin-right: 1px;}.mb-md-1 :{ margin-bottom: 1px;}.ml-md-1 :{ margin-left: 1px;}.mt-md-2 :{ margin-top: 2px;}.mr-md-2 :{ margin-right: 2px;}.mb-md-2 :{ margin-bottom: 2px;}.ml-md-2 :{ margin-left: 2px;}.mt-md-3 :{ margin-top: 3px;}.mr-md-3 :{ margin-right: 3px;}.mb-md-3 :{ margin-bottom: 3px;}.ml-md-3 :{ margin-left: 3px;}.mt-md-4 :{ margin-top: 4px;}.mr-md-4 :{ margin-right: 4px;}.mb-md-4 :{ margin-bottom: 4px;}.ml-md-4 :{ margin-left: 4px;}.mt-md-5 :{ margin-top: 5px;}.mr-md-5 :{ margin-right: 5px;}.mb-md-5 :{ margin-bottom: 5px;}.ml-md-5 :{ margin-left: 5px;}.mt-md-6 :{ margin-top: 6px;}.mr-md-6 :{ margin-right: 6px;}.mb-md-6 :{ margin-bottom: 6px;}.ml-md-6 :{ margin-left: 6px;}.mt-md-7 :{ margin-top: 7px;}.mr-md-7 :{ margin-right: 7px;}.mb-md-7 :{ margin-bottom: 7px;}.ml-md-7 :{ margin-left: 7px;}.mt-md-8 :{ margin-top: 8px;}.mr-md-8 :{ margin-right: 8px;}.mb-md-8 :{ margin-bottom: 8px;}.ml-md-8 :{ margin-left: 8px;}.mt-md-9 :{ margin-top: 9px;}.mr-md-9 :{ margin-right: 9px;}.mb-md-9 :{ margin-bottom: 9px;}.ml-md-9 :{ margin-left: 9px;}.mt-md-10 :{ margin-top: 10px;}.mr-md-10 :{ margin-right: 10px;}.mb-md-10 :{ margin-bottom: 10px;}.ml-md-10 :{ margin-left: 10px;}.mt-md-11 :{ margin-top: 11px;}.mr-md-11 :{ margin-right: 11px;}.mb-md-11 :{ margin-bottom: 11px;}.ml-md-11 :{ margin-left: 11px;}.mt-md-12 :{ margin-top: 12px;}.mr-md-12 :{ margin-right: 12px;}.mb-md-12 :{ margin-bottom: 12px;}.ml-md-12 :{ margin-left: 12px;}.mt-md-13 :{ margin-top: 13px;}.mr-md-13 :{ margin-right: 13px;}.mb-md-13 :{ margin-bottom: 13px;}.ml-md-13 :{ margin-left: 13px;}.mt-md-14 :{ margin-top: 14px;}.mr-md-14 :{ margin-right: 14px;}.mb-md-14 :{ margin-bottom: 14px;}.ml-md-14 :{ margin-left: 14px;}.mt-md-15 :{ margin-top: 15px;}.mr-md-15 :{ margin-right: 15px;}.mb-md-15 :{ margin-bottom: 15px;}.ml-md-15 :{ margin-left: 15px;}.mt-md-16 :{ margin-top: 16px;}.mr-md-16 :{ margin-right: 16px;}.mb-md-16 :{ margin-bottom: 16px;}.ml-md-16 :{ margin-left: 16px;}.mt-md-17 :{ margin-top: 17px;}.mr-md-17 :{ margin-right: 17px;}.mb-md-17 :{ margin-bottom: 17px;}.ml-md-17 :{ margin-left: 17px;}.mt-md-18 :{ margin-top: 18px;}.mr-md-18 :{ margin-right: 18px;}.mb-md-18 :{ margin-bottom: 18px;}.ml-md-18 :{ margin-left: 18px;}.mt-md-19 :{ margin-top: 19px;}.mr-md-19 :{ margin-right: 19px;}.mb-md-19 :{ margin-bottom: 19px;}.ml-md-19 :{ margin-left: 19px;}.mt-md-20 :{ margin-top: 20px;}.mr-md-20 :{ margin-right: 20px;}.mb-md-20 :{ margin-bottom: 20px;}.ml-md-20 :{ margin-left: 20px;}.mt-md-21 :{ margin-top: 21px;}.mr-md-21 :{ margin-right: 21px;}.mb-md-21 :{ margin-bottom: 21px;}.ml-md-21 :{ margin-left: 21px;}.mt-md-22 :{ margin-top: 22px;}.mr-md-22 :{ margin-right: 22px;}.mb-md-22 :{ margin-bottom: 22px;}.ml-md-22 :{ margin-left: 22px;}.mt-md-23 :{ margin-top: 23px;}.mr-md-23 :{ margin-right: 23px;}.mb-md-23 :{ margin-bottom: 23px;}.ml-md-23 :{ margin-left: 23px;}.mt-md-24 :{ margin-top: 24px;}.mr-md-24 :{ margin-right: 24px;}.mb-md-24 :{ margin-bottom: 24px;}.ml-md-24 :{ margin-left: 24px;}.mt-md-25 :{ margin-top: 25px;}.mr-md-25 :{ margin-right: 25px;}.mb-md-25 :{ margin-bottom: 25px;}.ml-md-25 :{ margin-left: 25px;}.mt-md-26 :{ margin-top: 26px;}.mr-md-26 :{ margin-right: 26px;}.mb-md-26 :{ margin-bottom: 26px;}.ml-md-26 :{ margin-left: 26px;}.mt-md-27 :{ margin-top: 27px;}.mr-md-27 :{ margin-right: 27px;}.mb-md-27 :{ margin-bottom: 27px;}.ml-md-27 :{ margin-left: 27px;}.mt-md-28 :{ margin-top: 28px;}.mr-md-28 :{ margin-right: 28px;}.mb-md-28 :{ margin-bottom: 28px;}.ml-md-28 :{ margin-left: 28px;}.mt-md-29 :{ margin-top: 29px;}.mr-md-29 :{ margin-right: 29px;}.mb-md-29 :{ margin-bottom: 29px;}.ml-md-29 :{ margin-left: 29px;}.mt-md-30 :{ margin-top: 30px;}.mr-md-30 :{ margin-right: 30px;}.mb-md-30 :{ margin-bottom: 30px;}.ml-md-30 :{ margin-left: 30px;}.mt-md-31 :{ margin-top: 31px;}.mr-md-31 :{ margin-right: 31px;}.mb-md-31 :{ margin-bottom: 31px;}.ml-md-31 :{ margin-left: 31px;}.mt-md-32 :{ margin-top: 32px;}.mr-md-32 :{ margin-right: 32px;}.mb-md-32 :{ margin-bottom: 32px;}.ml-md-32 :{ margin-left: 32px;}.mt-md-33 :{ margin-top: 33px;}.mr-md-33 :{ margin-right: 33px;}.mb-md-33 :{ margin-bottom: 33px;}.ml-md-33 :{ margin-left: 33px;}.mt-md-34 :{ margin-top: 34px;}.mr-md-34 :{ margin-right: 34px;}.mb-md-34 :{ margin-bottom: 34px;}.ml-md-34 :{ margin-left: 34px;}.mt-md-35 :{ margin-top: 35px;}.mr-md-35 :{ margin-right: 35px;}.mb-md-35 :{ margin-bottom: 35px;}.ml-md-35 :{ margin-left: 35px;}.mt-md-36 :{ margin-top: 36px;}.mr-md-36 :{ margin-right: 36px;}.mb-md-36 :{ margin-bottom: 36px;}.ml-md-36 :{ margin-left: 36px;}.mt-md-37 :{ margin-top: 37px;}.mr-md-37 :{ margin-right: 37px;}.mb-md-37 :{ margin-bottom: 37px;}.ml-md-37 :{ margin-left: 37px;}.mt-md-38 :{ margin-top: 38px;}.mr-md-38 :{ margin-right: 38px;}.mb-md-38 :{ margin-bottom: 38px;}.ml-md-38 :{ margin-left: 38px;}.mt-md-39 :{ margin-top: 39px;}.mr-md-39 :{ margin-right: 39px;}.mb-md-39 :{ margin-bottom: 39px;}.ml-md-39 :{ margin-left: 39px;}.mt-md-40 :{ margin-top: 40px;}.mr-md-40 :{ margin-right: 40px;}.mb-md-40 :{ margin-bottom: 40px;}.ml-md-40 :{ margin-left: 40px;}.mt-md-41 :{ margin-top: 41px;}.mr-md-41 :{ margin-right: 41px;}.mb-md-41 :{ margin-bottom: 41px;}.ml-md-41 :{ margin-left: 41px;}.mt-md-42 :{ margin-top: 42px;}.mr-md-42 :{ margin-right: 42px;}.mb-md-42 :{ margin-bottom: 42px;}.ml-md-42 :{ margin-left: 42px;}.mt-md-43 :{ margin-top: 43px;}.mr-md-43 :{ margin-right: 43px;}.mb-md-43 :{ margin-bottom: 43px;}.ml-md-43 :{ margin-left: 43px;}.mt-md-44 :{ margin-top: 44px;}.mr-md-44 :{ margin-right: 44px;}.mb-md-44 :{ margin-bottom: 44px;}.ml-md-44 :{ margin-left: 44px;}.mt-md-45 :{ margin-top: 45px;}.mr-md-45 :{ margin-right: 45px;}.mb-md-45 :{ margin-bottom: 45px;}.ml-md-45 :{ margin-left: 45px;}.mt-md-46 :{ margin-top: 46px;}.mr-md-46 :{ margin-right: 46px;}.mb-md-46 :{ margin-bottom: 46px;}.ml-md-46 :{ margin-left: 46px;}.mt-md-47 :{ margin-top: 47px;}.mr-md-47 :{ margin-right: 47px;}.mb-md-47 :{ margin-bottom: 47px;}.ml-md-47 :{ margin-left: 47px;}.mt-md-48 :{ margin-top: 48px;}.mr-md-48 :{ margin-right: 48px;}.mb-md-48 :{ margin-bottom: 48px;}.ml-md-48 :{ margin-left: 48px;}.mt-md-49 :{ margin-top: 49px;}.mr-md-49 :{ margin-right: 49px;}.mb-md-49 :{ margin-bottom: 49px;}.ml-md-49 :{ margin-left: 49px;}.mt-md-50 :{ margin-top: 50px;}.mr-md-50 :{ margin-right: 50px;}.mb-md-50 :{ margin-bottom: 50px;}.ml-md-50 :{ margin-left: 50px;}.mt-md-51 :{ margin-top: 51px;}.mr-md-51 :{ margin-right: 51px;}.mb-md-51 :{ margin-bottom: 51px;}.ml-md-51 :{ margin-left: 51px;}.mt-md-52 :{ margin-top: 52px;}.mr-md-52 :{ margin-right: 52px;}.mb-md-52 :{ margin-bottom: 52px;}.ml-md-52 :{ margin-left: 52px;}.mt-md-53 :{ margin-top: 53px;}.mr-md-53 :{ margin-right: 53px;}.mb-md-53 :{ margin-bottom: 53px;}.ml-md-53 :{ margin-left: 53px;}.mt-md-54 :{ margin-top: 54px;}.mr-md-54 :{ margin-right: 54px;}.mb-md-54 :{ margin-bottom: 54px;}.ml-md-54 :{ margin-left: 54px;}.mt-md-55 :{ margin-top: 55px;}.mr-md-55 :{ margin-right: 55px;}.mb-md-55 :{ margin-bottom: 55px;}.ml-md-55 :{ margin-left: 55px;}.mt-md-56 :{ margin-top: 56px;}.mr-md-56 :{ margin-right: 56px;}.mb-md-56 :{ margin-bottom: 56px;}.ml-md-56 :{ margin-left: 56px;}.mt-md-57 :{ margin-top: 57px;}.mr-md-57 :{ margin-right: 57px;}.mb-md-57 :{ margin-bottom: 57px;}.ml-md-57 :{ margin-left: 57px;}.mt-md-58 :{ margin-top: 58px;}.mr-md-58 :{ margin-right: 58px;}.mb-md-58 :{ margin-bottom: 58px;}.ml-md-58 :{ margin-left: 58px;}.mt-md-59 :{ margin-top: 59px;}.mr-md-59 :{ margin-right: 59px;}.mb-md-59 :{ margin-bottom: 59px;}.ml-md-59 :{ margin-left: 59px;}.mt-md-60 :{ margin-top: 60px;}.mr-md-60 :{ margin-right: 60px;}.mb-md-60 :{ margin-bottom: 60px;}.ml-md-60 :{ margin-left: 60px;}.mt-md-61 :{ margin-top: 61px;}.mr-md-61 :{ margin-right: 61px;}.mb-md-61 :{ margin-bottom: 61px;}.ml-md-61 :{ margin-left: 61px;}.mt-md-62 :{ margin-top: 62px;}.mr-md-62 :{ margin-right: 62px;}.mb-md-62 :{ margin-bottom: 62px;}.ml-md-62 :{ margin-left: 62px;}.mt-md-63 :{ margin-top: 63px;}.mr-md-63 :{ margin-right: 63px;}.mb-md-63 :{ margin-bottom: 63px;}.ml-md-63 :{ margin-left: 63px;}.mt-md-64 :{ margin-top: 64px;}.mr-md-64 :{ margin-right: 64px;}.mb-md-64 :{ margin-bottom: 64px;}.ml-md-64 :{ margin-left: 64px;}.mt-md-65 :{ margin-top: 65px;}.mr-md-65 :{ margin-right: 65px;}.mb-md-65 :{ margin-bottom: 65px;}.ml-md-65 :{ margin-left: 65px;}.mt-md-66 :{ margin-top: 66px;}.mr-md-66 :{ margin-right: 66px;}.mb-md-66 :{ margin-bottom: 66px;}.ml-md-66 :{ margin-left: 66px;}.mt-md-67 :{ margin-top: 67px;}.mr-md-67 :{ margin-right: 67px;}.mb-md-67 :{ margin-bottom: 67px;}.ml-md-67 :{ margin-left: 67px;}.mt-md-68 :{ margin-top: 68px;}.mr-md-68 :{ margin-right: 68px;}.mb-md-68 :{ margin-bottom: 68px;}.ml-md-68 :{ margin-left: 68px;}.mt-md-69 :{ margin-top: 69px;}.mr-md-69 :{ margin-right: 69px;}.mb-md-69 :{ margin-bottom: 69px;}.ml-md-69 :{ margin-left: 69px;}.mt-md-70 :{ margin-top: 70px;}.mr-md-70 :{ margin-right: 70px;}.mb-md-70 :{ margin-bottom: 70px;}.ml-md-70 :{ margin-left: 70px;}.mt-md-71 :{ margin-top: 71px;}.mr-md-71 :{ margin-right: 71px;}.mb-md-71 :{ margin-bottom: 71px;}.ml-md-71 :{ margin-left: 71px;}.mt-md-72 :{ margin-top: 72px;}.mr-md-72 :{ margin-right: 72px;}.mb-md-72 :{ margin-bottom: 72px;}.ml-md-72 :{ margin-left: 72px;}.mt-md-73 :{ margin-top: 73px;}.mr-md-73 :{ margin-right: 73px;}.mb-md-73 :{ margin-bottom: 73px;}.ml-md-73 :{ margin-left: 73px;}.mt-md-74 :{ margin-top: 74px;}.mr-md-74 :{ margin-right: 74px;}.mb-md-74 :{ margin-bottom: 74px;}.ml-md-74 :{ margin-left: 74px;}.mt-md-75 :{ margin-top: 75px;}.mr-md-75 :{ margin-right: 75px;}.mb-md-75 :{ margin-bottom: 75px;}.ml-md-75 :{ margin-left: 75px;}.mt-md-76 :{ margin-top: 76px;}.mr-md-76 :{ margin-right: 76px;}.mb-md-76 :{ margin-bottom: 76px;}.ml-md-76 :{ margin-left: 76px;}.mt-md-77 :{ margin-top: 77px;}.mr-md-77 :{ margin-right: 77px;}.mb-md-77 :{ margin-bottom: 77px;}.ml-md-77 :{ margin-left: 77px;}.mt-md-78 :{ margin-top: 78px;}.mr-md-78 :{ margin-right: 78px;}.mb-md-78 :{ margin-bottom: 78px;}.ml-md-78 :{ margin-left: 78px;}.mt-md-79 :{ margin-top: 79px;}.mr-md-79 :{ margin-right: 79px;}.mb-md-79 :{ margin-bottom: 79px;}.ml-md-79 :{ margin-left: 79px;}.mt-md-80 :{ margin-top: 80px;}.mr-md-80 :{ margin-right: 80px;}.mb-md-80 :{ margin-bottom: 80px;}.ml-md-80 :{ margin-left: 80px;}.mt-md-81 :{ margin-top: 81px;}.mr-md-81 :{ margin-right: 81px;}.mb-md-81 :{ margin-bottom: 81px;}.ml-md-81 :{ margin-left: 81px;}.mt-md-82 :{ margin-top: 82px;}.mr-md-82 :{ margin-right: 82px;}.mb-md-82 :{ margin-bottom: 82px;}.ml-md-82 :{ margin-left: 82px;}.mt-md-83 :{ margin-top: 83px;}.mr-md-83 :{ margin-right: 83px;}.mb-md-83 :{ margin-bottom: 83px;}.ml-md-83 :{ margin-left: 83px;}.mt-md-84 :{ margin-top: 84px;}.mr-md-84 :{ margin-right: 84px;}.mb-md-84 :{ margin-bottom: 84px;}.ml-md-84 :{ margin-left: 84px;}.mt-md-85 :{ margin-top: 85px;}.mr-md-85 :{ margin-right: 85px;}.mb-md-85 :{ margin-bottom: 85px;}.ml-md-85 :{ margin-left: 85px;}.mt-md-86 :{ margin-top: 86px;}.mr-md-86 :{ margin-right: 86px;}.mb-md-86 :{ margin-bottom: 86px;}.ml-md-86 :{ margin-left: 86px;}.mt-md-87 :{ margin-top: 87px;}.mr-md-87 :{ margin-right: 87px;}.mb-md-87 :{ margin-bottom: 87px;}.ml-md-87 :{ margin-left: 87px;}.mt-md-88 :{ margin-top: 88px;}.mr-md-88 :{ margin-right: 88px;}.mb-md-88 :{ margin-bottom: 88px;}.ml-md-88 :{ margin-left: 88px;}.mt-md-89 :{ margin-top: 89px;}.mr-md-89 :{ margin-right: 89px;}.mb-md-89 :{ margin-bottom: 89px;}.ml-md-89 :{ margin-left: 89px;}.mt-md-90 :{ margin-top: 90px;}.mr-md-90 :{ margin-right: 90px;}.mb-md-90 :{ margin-bottom: 90px;}.ml-md-90 :{ margin-left: 90px;}.mt-md-91 :{ margin-top: 91px;}.mr-md-91 :{ margin-right: 91px;}.mb-md-91 :{ margin-bottom: 91px;}.ml-md-91 :{ margin-left: 91px;}.mt-md-92 :{ margin-top: 92px;}.mr-md-92 :{ margin-right: 92px;}.mb-md-92 :{ margin-bottom: 92px;}.ml-md-92 :{ margin-left: 92px;}.mt-md-93 :{ margin-top: 93px;}.mr-md-93 :{ margin-right: 93px;}.mb-md-93 :{ margin-bottom: 93px;}.ml-md-93 :{ margin-left: 93px;}.mt-md-94 :{ margin-top: 94px;}.mr-md-94 :{ margin-right: 94px;}.mb-md-94 :{ margin-bottom: 94px;}.ml-md-94 :{ margin-left: 94px;}.mt-md-95 :{ margin-top: 95px;}.mr-md-95 :{ margin-right: 95px;}.mb-md-95 :{ margin-bottom: 95px;}.ml-md-95 :{ margin-left: 95px;}.mt-md-96 :{ margin-top: 96px;}.mr-md-96 :{ margin-right: 96px;}.mb-md-96 :{ margin-bottom: 96px;}.ml-md-96 :{ margin-left: 96px;}.mt-md-97 :{ margin-top: 97px;}.mr-md-97 :{ margin-right: 97px;}.mb-md-97 :{ margin-bottom: 97px;}.ml-md-97 :{ margin-left: 97px;}.mt-md-98 :{ margin-top: 98px;}.mr-md-98 :{ margin-right: 98px;}.mb-md-98 :{ margin-bottom: 98px;}.ml-md-98 :{ margin-left: 98px;}.mt-md-99 :{ margin-top: 99px;}.mr-md-99 :{ margin-right: 99px;}.mb-md-99 :{ margin-bottom: 99px;}.ml-md-99 :{ margin-left: 99px;}.mt-md-100 :{ margin-top: 100px;}.mr-md-100 :{ margin-right: 100px;}.mb-md-100 :{ margin-bottom: 100px;}.ml-md-100 :{ margin-left: 100px;}
}
@media only screen and (min-width: 992px){
	.mt-lg-0 :{ margin-top: 0px;}.mr-lg-0 :{ margin-right: 0px;}.mb-lg-0 :{ margin-bottom: 0px;}.ml-lg-0 :{ margin-left: 0px;}.mt-lg-1 :{ margin-top: 1px;}.mr-lg-1 :{ margin-right: 1px;}.mb-lg-1 :{ margin-bottom: 1px;}.ml-lg-1 :{ margin-left: 1px;}.mt-lg-2 :{ margin-top: 2px;}.mr-lg-2 :{ margin-right: 2px;}.mb-lg-2 :{ margin-bottom: 2px;}.ml-lg-2 :{ margin-left: 2px;}.mt-lg-3 :{ margin-top: 3px;}.mr-lg-3 :{ margin-right: 3px;}.mb-lg-3 :{ margin-bottom: 3px;}.ml-lg-3 :{ margin-left: 3px;}.mt-lg-4 :{ margin-top: 4px;}.mr-lg-4 :{ margin-right: 4px;}.mb-lg-4 :{ margin-bottom: 4px;}.ml-lg-4 :{ margin-left: 4px;}.mt-lg-5 :{ margin-top: 5px;}.mr-lg-5 :{ margin-right: 5px;}.mb-lg-5 :{ margin-bottom: 5px;}.ml-lg-5 :{ margin-left: 5px;}.mt-lg-6 :{ margin-top: 6px;}.mr-lg-6 :{ margin-right: 6px;}.mb-lg-6 :{ margin-bottom: 6px;}.ml-lg-6 :{ margin-left: 6px;}.mt-lg-7 :{ margin-top: 7px;}.mr-lg-7 :{ margin-right: 7px;}.mb-lg-7 :{ margin-bottom: 7px;}.ml-lg-7 :{ margin-left: 7px;}.mt-lg-8 :{ margin-top: 8px;}.mr-lg-8 :{ margin-right: 8px;}.mb-lg-8 :{ margin-bottom: 8px;}.ml-lg-8 :{ margin-left: 8px;}.mt-lg-9 :{ margin-top: 9px;}.mr-lg-9 :{ margin-right: 9px;}.mb-lg-9 :{ margin-bottom: 9px;}.ml-lg-9 :{ margin-left: 9px;}.mt-lg-10 :{ margin-top: 10px;}.mr-lg-10 :{ margin-right: 10px;}.mb-lg-10 :{ margin-bottom: 10px;}.ml-lg-10 :{ margin-left: 10px;}.mt-lg-11 :{ margin-top: 11px;}.mr-lg-11 :{ margin-right: 11px;}.mb-lg-11 :{ margin-bottom: 11px;}.ml-lg-11 :{ margin-left: 11px;}.mt-lg-12 :{ margin-top: 12px;}.mr-lg-12 :{ margin-right: 12px;}.mb-lg-12 :{ margin-bottom: 12px;}.ml-lg-12 :{ margin-left: 12px;}.mt-lg-13 :{ margin-top: 13px;}.mr-lg-13 :{ margin-right: 13px;}.mb-lg-13 :{ margin-bottom: 13px;}.ml-lg-13 :{ margin-left: 13px;}.mt-lg-14 :{ margin-top: 14px;}.mr-lg-14 :{ margin-right: 14px;}.mb-lg-14 :{ margin-bottom: 14px;}.ml-lg-14 :{ margin-left: 14px;}.mt-lg-15 :{ margin-top: 15px;}.mr-lg-15 :{ margin-right: 15px;}.mb-lg-15 :{ margin-bottom: 15px;}.ml-lg-15 :{ margin-left: 15px;}.mt-lg-16 :{ margin-top: 16px;}.mr-lg-16 :{ margin-right: 16px;}.mb-lg-16 :{ margin-bottom: 16px;}.ml-lg-16 :{ margin-left: 16px;}.mt-lg-17 :{ margin-top: 17px;}.mr-lg-17 :{ margin-right: 17px;}.mb-lg-17 :{ margin-bottom: 17px;}.ml-lg-17 :{ margin-left: 17px;}.mt-lg-18 :{ margin-top: 18px;}.mr-lg-18 :{ margin-right: 18px;}.mb-lg-18 :{ margin-bottom: 18px;}.ml-lg-18 :{ margin-left: 18px;}.mt-lg-19 :{ margin-top: 19px;}.mr-lg-19 :{ margin-right: 19px;}.mb-lg-19 :{ margin-bottom: 19px;}.ml-lg-19 :{ margin-left: 19px;}.mt-lg-20 :{ margin-top: 20px;}.mr-lg-20 :{ margin-right: 20px;}.mb-lg-20 :{ margin-bottom: 20px;}.ml-lg-20 :{ margin-left: 20px;}.mt-lg-21 :{ margin-top: 21px;}.mr-lg-21 :{ margin-right: 21px;}.mb-lg-21 :{ margin-bottom: 21px;}.ml-lg-21 :{ margin-left: 21px;}.mt-lg-22 :{ margin-top: 22px;}.mr-lg-22 :{ margin-right: 22px;}.mb-lg-22 :{ margin-bottom: 22px;}.ml-lg-22 :{ margin-left: 22px;}.mt-lg-23 :{ margin-top: 23px;}.mr-lg-23 :{ margin-right: 23px;}.mb-lg-23 :{ margin-bottom: 23px;}.ml-lg-23 :{ margin-left: 23px;}.mt-lg-24 :{ margin-top: 24px;}.mr-lg-24 :{ margin-right: 24px;}.mb-lg-24 :{ margin-bottom: 24px;}.ml-lg-24 :{ margin-left: 24px;}.mt-lg-25 :{ margin-top: 25px;}.mr-lg-25 :{ margin-right: 25px;}.mb-lg-25 :{ margin-bottom: 25px;}.ml-lg-25 :{ margin-left: 25px;}.mt-lg-26 :{ margin-top: 26px;}.mr-lg-26 :{ margin-right: 26px;}.mb-lg-26 :{ margin-bottom: 26px;}.ml-lg-26 :{ margin-left: 26px;}.mt-lg-27 :{ margin-top: 27px;}.mr-lg-27 :{ margin-right: 27px;}.mb-lg-27 :{ margin-bottom: 27px;}.ml-lg-27 :{ margin-left: 27px;}.mt-lg-28 :{ margin-top: 28px;}.mr-lg-28 :{ margin-right: 28px;}.mb-lg-28 :{ margin-bottom: 28px;}.ml-lg-28 :{ margin-left: 28px;}.mt-lg-29 :{ margin-top: 29px;}.mr-lg-29 :{ margin-right: 29px;}.mb-lg-29 :{ margin-bottom: 29px;}.ml-lg-29 :{ margin-left: 29px;}.mt-lg-30 :{ margin-top: 30px;}.mr-lg-30 :{ margin-right: 30px;}.mb-lg-30 :{ margin-bottom: 30px;}.ml-lg-30 :{ margin-left: 30px;}.mt-lg-31 :{ margin-top: 31px;}.mr-lg-31 :{ margin-right: 31px;}.mb-lg-31 :{ margin-bottom: 31px;}.ml-lg-31 :{ margin-left: 31px;}.mt-lg-32 :{ margin-top: 32px;}.mr-lg-32 :{ margin-right: 32px;}.mb-lg-32 :{ margin-bottom: 32px;}.ml-lg-32 :{ margin-left: 32px;}.mt-lg-33 :{ margin-top: 33px;}.mr-lg-33 :{ margin-right: 33px;}.mb-lg-33 :{ margin-bottom: 33px;}.ml-lg-33 :{ margin-left: 33px;}.mt-lg-34 :{ margin-top: 34px;}.mr-lg-34 :{ margin-right: 34px;}.mb-lg-34 :{ margin-bottom: 34px;}.ml-lg-34 :{ margin-left: 34px;}.mt-lg-35 :{ margin-top: 35px;}.mr-lg-35 :{ margin-right: 35px;}.mb-lg-35 :{ margin-bottom: 35px;}.ml-lg-35 :{ margin-left: 35px;}.mt-lg-36 :{ margin-top: 36px;}.mr-lg-36 :{ margin-right: 36px;}.mb-lg-36 :{ margin-bottom: 36px;}.ml-lg-36 :{ margin-left: 36px;}.mt-lg-37 :{ margin-top: 37px;}.mr-lg-37 :{ margin-right: 37px;}.mb-lg-37 :{ margin-bottom: 37px;}.ml-lg-37 :{ margin-left: 37px;}.mt-lg-38 :{ margin-top: 38px;}.mr-lg-38 :{ margin-right: 38px;}.mb-lg-38 :{ margin-bottom: 38px;}.ml-lg-38 :{ margin-left: 38px;}.mt-lg-39 :{ margin-top: 39px;}.mr-lg-39 :{ margin-right: 39px;}.mb-lg-39 :{ margin-bottom: 39px;}.ml-lg-39 :{ margin-left: 39px;}.mt-lg-40 :{ margin-top: 40px;}.mr-lg-40 :{ margin-right: 40px;}.mb-lg-40 :{ margin-bottom: 40px;}.ml-lg-40 :{ margin-left: 40px;}.mt-lg-41 :{ margin-top: 41px;}.mr-lg-41 :{ margin-right: 41px;}.mb-lg-41 :{ margin-bottom: 41px;}.ml-lg-41 :{ margin-left: 41px;}.mt-lg-42 :{ margin-top: 42px;}.mr-lg-42 :{ margin-right: 42px;}.mb-lg-42 :{ margin-bottom: 42px;}.ml-lg-42 :{ margin-left: 42px;}.mt-lg-43 :{ margin-top: 43px;}.mr-lg-43 :{ margin-right: 43px;}.mb-lg-43 :{ margin-bottom: 43px;}.ml-lg-43 :{ margin-left: 43px;}.mt-lg-44 :{ margin-top: 44px;}.mr-lg-44 :{ margin-right: 44px;}.mb-lg-44 :{ margin-bottom: 44px;}.ml-lg-44 :{ margin-left: 44px;}.mt-lg-45 :{ margin-top: 45px;}.mr-lg-45 :{ margin-right: 45px;}.mb-lg-45 :{ margin-bottom: 45px;}.ml-lg-45 :{ margin-left: 45px;}.mt-lg-46 :{ margin-top: 46px;}.mr-lg-46 :{ margin-right: 46px;}.mb-lg-46 :{ margin-bottom: 46px;}.ml-lg-46 :{ margin-left: 46px;}.mt-lg-47 :{ margin-top: 47px;}.mr-lg-47 :{ margin-right: 47px;}.mb-lg-47 :{ margin-bottom: 47px;}.ml-lg-47 :{ margin-left: 47px;}.mt-lg-48 :{ margin-top: 48px;}.mr-lg-48 :{ margin-right: 48px;}.mb-lg-48 :{ margin-bottom: 48px;}.ml-lg-48 :{ margin-left: 48px;}.mt-lg-49 :{ margin-top: 49px;}.mr-lg-49 :{ margin-right: 49px;}.mb-lg-49 :{ margin-bottom: 49px;}.ml-lg-49 :{ margin-left: 49px;}.mt-lg-50 :{ margin-top: 50px;}.mr-lg-50 :{ margin-right: 50px;}.mb-lg-50 :{ margin-bottom: 50px;}.ml-lg-50 :{ margin-left: 50px;}.mt-lg-51 :{ margin-top: 51px;}.mr-lg-51 :{ margin-right: 51px;}.mb-lg-51 :{ margin-bottom: 51px;}.ml-lg-51 :{ margin-left: 51px;}.mt-lg-52 :{ margin-top: 52px;}.mr-lg-52 :{ margin-right: 52px;}.mb-lg-52 :{ margin-bottom: 52px;}.ml-lg-52 :{ margin-left: 52px;}.mt-lg-53 :{ margin-top: 53px;}.mr-lg-53 :{ margin-right: 53px;}.mb-lg-53 :{ margin-bottom: 53px;}.ml-lg-53 :{ margin-left: 53px;}.mt-lg-54 :{ margin-top: 54px;}.mr-lg-54 :{ margin-right: 54px;}.mb-lg-54 :{ margin-bottom: 54px;}.ml-lg-54 :{ margin-left: 54px;}.mt-lg-55 :{ margin-top: 55px;}.mr-lg-55 :{ margin-right: 55px;}.mb-lg-55 :{ margin-bottom: 55px;}.ml-lg-55 :{ margin-left: 55px;}.mt-lg-56 :{ margin-top: 56px;}.mr-lg-56 :{ margin-right: 56px;}.mb-lg-56 :{ margin-bottom: 56px;}.ml-lg-56 :{ margin-left: 56px;}.mt-lg-57 :{ margin-top: 57px;}.mr-lg-57 :{ margin-right: 57px;}.mb-lg-57 :{ margin-bottom: 57px;}.ml-lg-57 :{ margin-left: 57px;}.mt-lg-58 :{ margin-top: 58px;}.mr-lg-58 :{ margin-right: 58px;}.mb-lg-58 :{ margin-bottom: 58px;}.ml-lg-58 :{ margin-left: 58px;}.mt-lg-59 :{ margin-top: 59px;}.mr-lg-59 :{ margin-right: 59px;}.mb-lg-59 :{ margin-bottom: 59px;}.ml-lg-59 :{ margin-left: 59px;}.mt-lg-60 :{ margin-top: 60px;}.mr-lg-60 :{ margin-right: 60px;}.mb-lg-60 :{ margin-bottom: 60px;}.ml-lg-60 :{ margin-left: 60px;}.mt-lg-61 :{ margin-top: 61px;}.mr-lg-61 :{ margin-right: 61px;}.mb-lg-61 :{ margin-bottom: 61px;}.ml-lg-61 :{ margin-left: 61px;}.mt-lg-62 :{ margin-top: 62px;}.mr-lg-62 :{ margin-right: 62px;}.mb-lg-62 :{ margin-bottom: 62px;}.ml-lg-62 :{ margin-left: 62px;}.mt-lg-63 :{ margin-top: 63px;}.mr-lg-63 :{ margin-right: 63px;}.mb-lg-63 :{ margin-bottom: 63px;}.ml-lg-63 :{ margin-left: 63px;}.mt-lg-64 :{ margin-top: 64px;}.mr-lg-64 :{ margin-right: 64px;}.mb-lg-64 :{ margin-bottom: 64px;}.ml-lg-64 :{ margin-left: 64px;}.mt-lg-65 :{ margin-top: 65px;}.mr-lg-65 :{ margin-right: 65px;}.mb-lg-65 :{ margin-bottom: 65px;}.ml-lg-65 :{ margin-left: 65px;}.mt-lg-66 :{ margin-top: 66px;}.mr-lg-66 :{ margin-right: 66px;}.mb-lg-66 :{ margin-bottom: 66px;}.ml-lg-66 :{ margin-left: 66px;}.mt-lg-67 :{ margin-top: 67px;}.mr-lg-67 :{ margin-right: 67px;}.mb-lg-67 :{ margin-bottom: 67px;}.ml-lg-67 :{ margin-left: 67px;}.mt-lg-68 :{ margin-top: 68px;}.mr-lg-68 :{ margin-right: 68px;}.mb-lg-68 :{ margin-bottom: 68px;}.ml-lg-68 :{ margin-left: 68px;}.mt-lg-69 :{ margin-top: 69px;}.mr-lg-69 :{ margin-right: 69px;}.mb-lg-69 :{ margin-bottom: 69px;}.ml-lg-69 :{ margin-left: 69px;}.mt-lg-70 :{ margin-top: 70px;}.mr-lg-70 :{ margin-right: 70px;}.mb-lg-70 :{ margin-bottom: 70px;}.ml-lg-70 :{ margin-left: 70px;}.mt-lg-71 :{ margin-top: 71px;}.mr-lg-71 :{ margin-right: 71px;}.mb-lg-71 :{ margin-bottom: 71px;}.ml-lg-71 :{ margin-left: 71px;}.mt-lg-72 :{ margin-top: 72px;}.mr-lg-72 :{ margin-right: 72px;}.mb-lg-72 :{ margin-bottom: 72px;}.ml-lg-72 :{ margin-left: 72px;}.mt-lg-73 :{ margin-top: 73px;}.mr-lg-73 :{ margin-right: 73px;}.mb-lg-73 :{ margin-bottom: 73px;}.ml-lg-73 :{ margin-left: 73px;}.mt-lg-74 :{ margin-top: 74px;}.mr-lg-74 :{ margin-right: 74px;}.mb-lg-74 :{ margin-bottom: 74px;}.ml-lg-74 :{ margin-left: 74px;}.mt-lg-75 :{ margin-top: 75px;}.mr-lg-75 :{ margin-right: 75px;}.mb-lg-75 :{ margin-bottom: 75px;}.ml-lg-75 :{ margin-left: 75px;}.mt-lg-76 :{ margin-top: 76px;}.mr-lg-76 :{ margin-right: 76px;}.mb-lg-76 :{ margin-bottom: 76px;}.ml-lg-76 :{ margin-left: 76px;}.mt-lg-77 :{ margin-top: 77px;}.mr-lg-77 :{ margin-right: 77px;}.mb-lg-77 :{ margin-bottom: 77px;}.ml-lg-77 :{ margin-left: 77px;}.mt-lg-78 :{ margin-top: 78px;}.mr-lg-78 :{ margin-right: 78px;}.mb-lg-78 :{ margin-bottom: 78px;}.ml-lg-78 :{ margin-left: 78px;}.mt-lg-79 :{ margin-top: 79px;}.mr-lg-79 :{ margin-right: 79px;}.mb-lg-79 :{ margin-bottom: 79px;}.ml-lg-79 :{ margin-left: 79px;}.mt-lg-80 :{ margin-top: 80px;}.mr-lg-80 :{ margin-right: 80px;}.mb-lg-80 :{ margin-bottom: 80px;}.ml-lg-80 :{ margin-left: 80px;}.mt-lg-81 :{ margin-top: 81px;}.mr-lg-81 :{ margin-right: 81px;}.mb-lg-81 :{ margin-bottom: 81px;}.ml-lg-81 :{ margin-left: 81px;}.mt-lg-82 :{ margin-top: 82px;}.mr-lg-82 :{ margin-right: 82px;}.mb-lg-82 :{ margin-bottom: 82px;}.ml-lg-82 :{ margin-left: 82px;}.mt-lg-83 :{ margin-top: 83px;}.mr-lg-83 :{ margin-right: 83px;}.mb-lg-83 :{ margin-bottom: 83px;}.ml-lg-83 :{ margin-left: 83px;}.mt-lg-84 :{ margin-top: 84px;}.mr-lg-84 :{ margin-right: 84px;}.mb-lg-84 :{ margin-bottom: 84px;}.ml-lg-84 :{ margin-left: 84px;}.mt-lg-85 :{ margin-top: 85px;}.mr-lg-85 :{ margin-right: 85px;}.mb-lg-85 :{ margin-bottom: 85px;}.ml-lg-85 :{ margin-left: 85px;}.mt-lg-86 :{ margin-top: 86px;}.mr-lg-86 :{ margin-right: 86px;}.mb-lg-86 :{ margin-bottom: 86px;}.ml-lg-86 :{ margin-left: 86px;}.mt-lg-87 :{ margin-top: 87px;}.mr-lg-87 :{ margin-right: 87px;}.mb-lg-87 :{ margin-bottom: 87px;}.ml-lg-87 :{ margin-left: 87px;}.mt-lg-88 :{ margin-top: 88px;}.mr-lg-88 :{ margin-right: 88px;}.mb-lg-88 :{ margin-bottom: 88px;}.ml-lg-88 :{ margin-left: 88px;}.mt-lg-89 :{ margin-top: 89px;}.mr-lg-89 :{ margin-right: 89px;}.mb-lg-89 :{ margin-bottom: 89px;}.ml-lg-89 :{ margin-left: 89px;}.mt-lg-90 :{ margin-top: 90px;}.mr-lg-90 :{ margin-right: 90px;}.mb-lg-90 :{ margin-bottom: 90px;}.ml-lg-90 :{ margin-left: 90px;}.mt-lg-91 :{ margin-top: 91px;}.mr-lg-91 :{ margin-right: 91px;}.mb-lg-91 :{ margin-bottom: 91px;}.ml-lg-91 :{ margin-left: 91px;}.mt-lg-92 :{ margin-top: 92px;}.mr-lg-92 :{ margin-right: 92px;}.mb-lg-92 :{ margin-bottom: 92px;}.ml-lg-92 :{ margin-left: 92px;}.mt-lg-93 :{ margin-top: 93px;}.mr-lg-93 :{ margin-right: 93px;}.mb-lg-93 :{ margin-bottom: 93px;}.ml-lg-93 :{ margin-left: 93px;}.mt-lg-94 :{ margin-top: 94px;}.mr-lg-94 :{ margin-right: 94px;}.mb-lg-94 :{ margin-bottom: 94px;}.ml-lg-94 :{ margin-left: 94px;}.mt-lg-95 :{ margin-top: 95px;}.mr-lg-95 :{ margin-right: 95px;}.mb-lg-95 :{ margin-bottom: 95px;}.ml-lg-95 :{ margin-left: 95px;}.mt-lg-96 :{ margin-top: 96px;}.mr-lg-96 :{ margin-right: 96px;}.mb-lg-96 :{ margin-bottom: 96px;}.ml-lg-96 :{ margin-left: 96px;}.mt-lg-97 :{ margin-top: 97px;}.mr-lg-97 :{ margin-right: 97px;}.mb-lg-97 :{ margin-bottom: 97px;}.ml-lg-97 :{ margin-left: 97px;}.mt-lg-98 :{ margin-top: 98px;}.mr-lg-98 :{ margin-right: 98px;}.mb-lg-98 :{ margin-bottom: 98px;}.ml-lg-98 :{ margin-left: 98px;}.mt-lg-99 :{ margin-top: 99px;}.mr-lg-99 :{ margin-right: 99px;}.mb-lg-99 :{ margin-bottom: 99px;}.ml-lg-99 :{ margin-left: 99px;}.mt-lg-100 :{ margin-top: 100px;}.mr-lg-100 :{ margin-right: 100px;}.mb-lg-100 :{ margin-bottom: 100px;}.ml-lg-100 :{ margin-left: 100px;}
}