.icon-box-5 .icon-content,.btn-hire,.btn-hire-3,.icon-box-3.style-2 .icon-image > a,span.owl-pre:hover,span.owl-next:hover,
.princing-1 .princing-item .princing-button, .princing-2 .princing-item .princing-button, .princing-3 .princing-item .princing-button, 
.blog-item-detail a.readmore:hover, .page-item .page-link:hover, .page-item.active .page-link, .video .btn-play:hover,
.owl-button > button:hover, .owl-dots .owl-dot span, .pro-bar-container .pro-bar, .accordion-1 .acc_active .acc_head, header.header3 .sub-header,
.accordion-2 .acc_active .acc_head, .tabs-1 .tab-title span.active, .tabs-2 .tab-title span.active:after, .color #switch-color:hover,
.tabs-3 .tab-title span.active:after, #slide-1 .tp-bullets .tp-bullet.selected, #slide-2 .tp-bullets .tp-bullet.selected,
#slide-3 .tp-bullets .tp-bullet .tp-bullet-inner, #slide-5 .tp-bullets .tp-bullet.selected, #slide-4 .tp-bullets .tp-bullet.selected,
#slide-5 .tp-bullets .tp-bullet:hover, #slide-4 .tp-bullets .tp-bullet:hover, .slide-btn-4,.project-image .owl-button > button:hover,
.eror-404 button,.load > div,.icon-box-3 .icon-image > a:hover, .slide-btn-1,form.newsletter-form > input[type = "submit"],nav.desktop-menu > ul > li > ul li:hover > a
{
	background-color: #f39c12;
}
header.header1 nav.desktop-menu  > ul > li:hover > a, header.header1 nav.desktop-menu  > ul > li.active > a,nav.desktop-menu > ul > li:hover > a,
ul.header-bt > li:hover,nav.menu-bar > ul > li.close-menu a:hover,nav.menu-bar > ul > li > a:hover,
#show-mobile-menu:hover, header.header2 nav.desktop-menu  > ul > li:hover > a, header.header2 ul.header-bt li.bt-search:hover,header.header5 nav.desktop-menu  > ul > li:hover > a,
form.newsletter-form > input[type = "submit"]:hover,.icon-box-3.style-2 .icon-image > a:hover,.icon-box-3 .icon-image > a,
.port-title ul > li.active > a,.timeline > a:hover , .blog-item .blog-title:hover, .date .day, .port-title ul > li > a:hover,
.blog-info > ul > li, .blog-info > ul > li > a:hover, .page-item.dot .page-link:hover, ul.list-1 > li > a:hover, .share .tags > a:hover,
.blog-pagination a:hover, .comment-info li.user_name a:hover, .comment-info li.reply a:hover , .comment-info li.reply:before, ul.card-info li a:hover,
.video-1 .btn-play:hover, .blog-slide .blog-content .tags:before, .blog-slide .blog-content .tags a:hover, .blog-slide .blog-content > a:first-child:hover
.blog-slide .blog-content > a.read-more:before, #clock ul li span, .blog-slide .blog-content > a.read-more:before,.blog-slide .blog-content > a.read-more:hover
{
	color: #f39c12;
}

span.owl-pre:hover,span.owl-next:hover, .owl-next.bordered:hover, .owl-pre.bordered:hover, .blog-item-detail a.readmore:hover , .video-1 .btn-play:hover, 
header, nav.desktop-menu > ul > li ul, .icon-box-3 .icon-image > a, .icon-box-3.style-2 .icon-image > a:hover, .princing-2 .princing-item, 
.tabs-3 .tab-content, .testi-slick-nav .slick-current, .tabs-4 .tab-title span.active, .page-item.active .page-link

{
	border-color: #f39c12;
}
.overlay-primary, .icon-box-5 .icon-content, .project-item:hover .project-detail, .port-item > .port-item-detail,.card-avatar .card-overlay,m.project-item .project-item-container{
	background-color: rgba( 243, 156 ,18 , .9);
}
.slide-nav .slick-current{
	box-shadow: 0 0 0 3px #f39c12;
}
.eror-404 button:after{
	background-color: rgba( 243, 156 ,18, .6);
}
#slide-5 .tp-bullets .tp-bullet, #slide-4 .tp-bullets .tp-bullet{
	background-color: rgba( 243, 156,18, .4);
}
span.owl-pre:hover,span.owl-next:hover{
	color: #ffffff;
}